header nav.sub {
	clear: both;
	background-image: none;
	background-color: lighten(@black, 90%);
	cursor: default;
	height: auto;
	float: none;
	margin: 0 0 1em;

	label {
		display: none;
	}

	.inner {
		display: block;
		position: static;
		border-bottom: none;
	}

	.close {
		display: none;
	}

	a {
		display: inline;
		border-top: none;
		margin: 0 0 0 .5em;

		&:first-of-type {
			margin-left: 0;
		}
	}
}

header .search {
	background-image: none;
	background-color: lighten(@black, 90%);
	cursor: default;
	height: auto;
	width: auto;

	label {
		display: none;
	}

	form {
		display: block;
		height: auto;
		width: auto;
		float: none;
		position: static;
		padding: 0;
		margin: 0;
		border: none;
	}

	.button {
		display: none;
	}

	.close {
		display: none;
	}

	input[type="text"] {

		background: lighten(@black, 90%);
		margin: 0 1em 1em;
		line-height: 1em;
		font-size: 1.2em;
		font-weight: bold;
		color: #666;
		border: none;
		padding: 0 0 1em;
		border-bottom: 1px solid lighten(@black, 90%);
		display: block;
	}
}