header nav.sub {
	clear: both;
	background-image: none;
	background-color: lighten(@black, 90%);
	cursor: default;
	height: auto;
	float: none;
	margin: 0 0 1em;

	label {
		display: none;
	}

	.inner {
		display: block;
		position: static;
		border-bottom: none;
	}

	.close {
		display: none;
	}

	a {
		display: inline;
		border-top: none;
		margin: 0 0 0 .5em;

		&:first-of-type {
			margin-left: 0;
		}
	}
}

header .search {
	background-image: none;
	cursor: default;
	height: auto;
	width: auto;
	background-color: transparent;
	margin: 0 0 1em 1em;

	label {
		display: none;
	}

	form {
		display: block;
		height: auto;
		width: auto;
		float: none;
		position: relative;
		padding: 0;
		margin: 0;
		border: none;
	}

	.button {
		display: none;
	}

	.close {
		display: none;
	}

	input[type="text"] {
		background: lighten(@black, 90%);
		margin: 0;
		padding: 0.4em 0.5em;
		font-size: 1.1em;
	}

	section {
		position: absolute;
		top: 3em;
		left: 0;
		margin: 0;
		padding: 0.6em 0.6em 0.8em;
		border-bottom: 1px solid;
		width: 13.5em;
	}
}

nav.main {
	position: relative;
	font-size: 1.2em;

	li > a {
		display: inline;
		width: 31.1%;
		float: left;
		padding: 1.1%;
	}

	.drop {
		position: absolute;
		top: 0;
		left: 0;
	}

	// .active .drop {
	// 	display: block;
	// }

	// > div {
	// 	display: inline;
	// }
}

.content.home .cover {
	padding: 1.5em;

	h1 {
		font-size: 2.2em;
		font-weight: 600;
		margin: 0 0 0.3em;
	}

	.button {
		float: right;
	}
}