@import "_settings.css";
@import "_dependencies.css";
@import "normalize-css/normalize.css";
@import "_reset.css";
@import "_reusable.css";
@import "_form.css";
@import "_typography.css";
@import "_alert.css";
@import "_blankslate.css";

body {
  background-color: #eee;
}

.page {
  margin: 70px auto;
  width: 570px;
  padding: 30px;
  background-color: #fff;
}
