.general-stats {
	width: 40%;
	float: left;
	margin: 0 2em 2em 0;

	table {
		border: 1px solid darken(@white, 30%);

		th,
		td {
			padding: 1em;
		}
	}
}

div.content.home {

	.handbook {
		float: right;
		width: 40%;
		height: 5em;
	}

	.press {
		float: left;
		width: 45%;

		span {
			font-size: .8em;
		}

		h2 {
			text-align: left;
		}
	}

}

.cover {
	margin: 0 0 2em;
}
