.logo {
	margin: 0 0 1.6em;
	width: 20em;

	.full-text {
		display: block;
		font-size: 1.3em;
		font-weight: 600;
	}

	img {
		width: 3.8em;
	}

	abbr {
		display: none;
	}
}

.fixture .card {
	width: 27.8%;
}
