@charset 'utf-8';
@import '_settings';
@import 'mwyatt-codex';
@import 'mwyatt-codex/css/keyframe';
@import 'mwyatt-codex/css/link';

@import "_content-single.css";
@import "_content.css";
@import "_footer.css";
@import "_header.css";
@import "_home.css";
@import "_pagination.css";

html {
  background-color: #eee;
  background-image: url('bordeaux-pont-de-pierre.gif');
  background-size: cover;
}

body {
  background-color: rgba(#fff, .8);
}

.to-top {
  transition: all 200ms ease;
  position: fixed;
  bottom: 1em;
  z-index: 1;
  fill: #fff;
  right: -4em;
  padding: 0.5em;
  background-color: var(--color-primary-0);
  border-radius: 100%;
  width: 44px;
  height: 44px;
}

.to-top:active {
  bottom: .5em;
  opacity: .8;
}

.to-top.is-active {
  display: block;
  right: 1em;
}

.core-h1 {
  text-align: center;
  padding: 0.3em;
  background-color: var(--color-primary-0);
  color: #fff;
  border-bottom: 1px solid var(--color-secondary-1-0);
  font-size: 1.4em;
  margin-bottom: 1em;
}


.container-footer-inner,
.container-header-inner,
.page {
  max-width: 850px;
  margin: 0 auto;
}



svg {
  max-width: 100%;
  max-height: 100%;
}

.profile-img {
  max-width: 100%;
  max-height: 100%;
  display: none;
}

.profile-image-container {
  background-image: url('portrait-138.jpg');
  height: 140px;
  background-position: center center;
  background-size: cover;
  border-radius: var(--border-radius);
}

.profile-container {
  padding: 1em;
  border: 1px dotted #fff;
  border-radius: var(--border-radius);
  margin-bottom: 1em;
  background-color: color(#fff a(80%));
}



.header-social-icon {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 30px;
  height: 30px;
}

.menu-item {
  border-radius: var(--border-radius);
    padding: 10px;
    flex: 1;
    background: var(--color-primary-0);
    color: #fff;
    font-weight: 600;
    margin: 10px;
    text-align: center;
}

.header-social {
  display: block;
  position: relative;
  padding-left: 45px;
  background-color: var(--color-pinterest-primary);
}

.header-social-icon svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.header-social-title {
  font-weight: 600;
  color: #fff;
}

.page.post-all {
  padding: 1em;
}

.page.not-found {
  padding: 3em;
}

.page-about-me .content-date {
  display: none;
}

.profile-container {
    display: none;
}

.logo {
  fill: var(--color-primary-0);
    margin: 0 auto;
}

.header-container {
    background: #fff;
}

.logo-container {
    margin: 0;
}

.content {
    flex: 1;
    flex-basis: 250px;
    padding: 20px;
    margin: 10px;
    border-radius: 0;
    border: 0;
    box-shadow: none;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.content.home .home-all-posts {
  display: block;
}

.post-single-title {
    font-size: 36px;
    margin: 0 0 0.5em;
    line-height: 1.3;
    color: var(--color-secondary-1-0);
}

.post-single-date {
    text-align: right;
    display: block;
}

.content-html-snippet-more {
    display: none;
}

.menu {
    display: flex;
    margin: -10px;
}

.header-container-inner {
    max-width: 850px;
    padding: 20px;
    margin: 0 auto;
}

.header-menu-primary-container {
    margin-top: 20px;
}

.container-footer {

}

.header-page-container {
    min-height: 100%;
    position: relative;
}

  .page {
    padding: 20px;
    padding-bottom: 44px;
  }


  .home .content-html-snippet {
    margin: 1em 0 0;
  }
