@import "vendor/normalize.css";
@import "mixin.less";

body {
	background: @white;
	color: darken(@white, 50%);
	font-size: 1em;
	font-family: 'Open Sans', 'Arial', 'sans-serif';
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

.logo .full-text {
	display: none;
}

.logo {
	width: 12em;
	display: block;
	text-decoration: none;

	img {
		float: left;
		margin: 0 1em 0 0;
		width: 3.5em;
	}

	abbr {
		font-size: 2.4em;
		font-weight: 300;
		border: none;
		color: lighten(@black, 35%);
	}
}

header.main {
	clear: both;
	position: relative;
	padding: 5%;

	form {
		display: none;
	}
}

header.main .search {
	background-position: -22px -24px;

	&.active form {
		display: block;
	}

	form {
		position: absolute;
		top: 55px;
		left: 0;
		width: 100%;
		border-bottom: 5px solid;
		z-index: 1;
	}

	input[type="text"] {
		// .border-box();
		.box-shadow(0 0 5px rgba(0, 0, 0, 0.3));
		display: block;
		width: 100%;
		padding: 10px 10px 10px 10px;
		margin: 0;
		line-height: 1em;
		font-size: 1.3em;
		font-weight: bold;
		color: #666;
		border: none;
		border-bottom: 1px solid #ccc;
	}

	section {
		padding: 0;
		margin: 0;
		background: white;
	}

	a {
		position: relative;
		display: block;
		font-size: 1.3em;
		padding: 15px;
		background: @grayie;
		border-bottom: 1px solid @orange-gray/1.5;
		color: white;
		font-size: 1.3em;
		font-weight: 700;
	}

	a:focus {
		background: red;
	}

	span {
		background: white;
		position: absolute;
		right: 0;
		padding: 7px 20px 8px 8px;
		.border-radius(3px 0 0 3px);
		text-transform: uppercase;
		font-size: 16px;
		color: @blackie;
		top: 8px;
	}
}

nav.main,
div.search {
	cursor: pointer;
	border-left: 1px solid @orange;
	background: url(../img/main/sprite-100.png) 0 0 no-repeat;
	display: block;
	width: 55px;
	height: 55px;
	float: right;

	&.active {
		border-color: @grayie;
		background-color: @grayie;
		background-position: -522px -24px;
		.text-shadow(none);
	}
}

nav.sub {
	display: none;
}

nav.main {
	cursor: pointer;
	background-position: -122px -24px;

	> ul {
		display: none;
	}

	&.active {
		span {
			background: url(../img/main/sprite-100.png) 0 0 no-repeat;
		}
		div {
			span {
				background-position: -424px -25px;
				width: 50px;
				height: 50px;
				float: right;
			}
			a {
				color: @orange-gray;
				padding-left: 40px;
			}
			ul {
				display: none;
			}
		}
		div.active {
			> span {
				background-position: -624px -25px;
			}
			> a {
				background-color: @blackie;
			}
			> ul {
				display: block;
				li {
					background-color: @blackie;
					div {
						li {
							background-color: black;
						}
						
					}
				}
			}
		}
		ul {
			display: block;
			margin: 0;
			padding: 0;
			width: 100%;
			li {
				background: @grayie;
				a {
					.text-shadow(none);
					display: block;
					padding: 16px 15px 20px;
					border-bottom: 1px solid @orange-gray;
					color: white;
					font-size: 1.3em;
					font-weight: 700;
				}
				div {
					span {

					}
				}
			}
			li:last-child a {
				border: none;
			}
		}
		> ul {
			border-bottom: 5px solid;
			position: absolute;
			z-index: 1;
			top: 55px;
			left: 0;
		}
	}
}

div.accordion {
	.transition (background-color 0.1s ease-in-out);
	cursor: pointer;
	background-color: @orange;
	border-bottom: 1px solid @orange;	

	h2 {
		position: relative;
		font-size: 1.5em;
		text-transform: uppercase;
		color: @white;
		margin: 0;
		line-height: 1em;
		padding: 15px 12px;

		span {
			background: url(../img/main/sprite-100.png) -241px -42px no-repeat;
			display: block;
			width: 18px;
			height: 17px;
			float: right;
			position: absolute;
			right: 16px;
			top: 18px;
		}
	}

	a {
		display: block;
		padding: 15px 12px;
		font-size: 1.2em;

		span {
			color: #666;
			float: right;
		}
	}

	a:last-child {
		padding-bottom: 20px;
	}

	ul {
		display: none;
		list-style: none;			
		padding: 0;
		margin: 0;

		li {

			a {
				font-weight: bold;

				span {
					color: #666;
				}
			}
		}
	}

	&.active {
		background-color: darken(@orange, 10%);

		h2 {
			border-bottom-color: darken(@orange, 20%);
			span {
				background-position: -542px -42px;
			}
		}
	}

	&.progress {
		position: relative;

		> span {
			display: none;
			.border-radius(3px);
			position: absolute;
			top: 10px;
			right: 51px;
			padding: 8px 10px;
			background: @orange;
			font-size: 1.1em;
			font-weight: 700;
			color: white;
		}
	}
}

div.content {
	padding: 15px 0;

	a {
		line-height: 1.1em;
	}

	h1 {
		color: @blackie;
		text-align: center;
		padding: 0 15px;
		line-height: 1em;
		font-size: 1.7em;
		margin: 0 0 .4em;
	}
	
	table {
		tr {
			border-bottom: 1px dotted @orange-gray;
			th {
				text-align: left;
				color: @orange-gray;
			}
			td, th {
				padding: 20px 15px;
				font-size: 1.3em;
				font-weight: bold;
			}
		}
	}

	p {
		font-size: 1em;
	}
}

div.content.single {
	// padding: 15px;

	h1 {
		text-align: left;
	}
	
}

div.content.home {
	padding: 0;

	.handbook {
		background: @orange;
		color: @white;
		border-top: 1px solid lighten(@orange, 20%);
		display: block;
		padding: 0.5em 0.5em 0.5em 3em;
		font-size: 1.5em;
		text-transform: uppercase;
		line-height: 1em;
		font-weight: bold;
	}

	.cover {
		.gradient (lighten(@purple, 15%), @purple);
		border-top: 1px solid lighten(@purple, 30%);
		border-bottom: 1px solid darken(@purple, 15%);
		padding: 1.5em;
		text-align: center;
		display: block;

		h1,
		p {
			text-transform: uppercase;
			color: #fff;
			margin: 0;
			line-height: 1em;
		}

		h1 {
			font-size: 2.6em;
		}

		p {
			font-size: 1.4em;
		}

	}
}

div.content.team {

	table {

		tr {
			border-bottom: 1px dotted @orange-gray;
			
			.player, .home-night, .venue {
				display: none;
			}

			th {
				text-align: left;
				color: @orange-gray;
			}

			td, th {
				padding: 20px 15px;
				font-size: 1.3em;
				font-weight: bold;
			}
		}
	}
}

div.content.team.single {

	table {

		tr.player, tr.home-night, tr.venue {
			// display: none;
		}

		tr {

			td, th {
				line-height: 1.2em;
				text-align: left;
				padding: 20px 15px;
				font-size: 1.3em;
				font-weight: bold;
				border-bottom: 1px dotted @orange-gray;
			}

			th {
				width: 30%;
				color: @orange-gray;
			}
		}
	}
}

div.content.player {

	table {

		tr {
			border-bottom: 1px dotted @orange-gray;
			
			.team, .division {
				display: none;
			}

			th {
				text-align: left;
				color: @orange-gray;
			}
			td, th {
				padding: 20px 15px;
				font-size: 1.3em;
				font-weight: bold;
			}

		}

	}
}

div.content.merit {

	table {

		tr {
			border-bottom: 1px dotted @orange-gray;
			
			.team, .won, .rank, .played {
				display: none;
			}

			th {
				text-align: left;
				color: @orange-gray;
			}
			td, th {
				padding: 20px 15px;
				font-size: 1.3em;
				font-weight: bold;
			}

		}

	}
}

div.content.performance {

	table {

		tr {
			border-bottom: 1px dotted @orange-gray;
			
			.team_name {
				display: none;
			}

			th {
				text-align: left;
				color: @orange-gray;
			}
			td, th {
				padding: 20px 15px;
				font-size: 1.3em;
				font-weight: bold;
			}

		}

	}
}

div.content.league {

	table {

		tr {
			border-bottom: 1px dotted @orange-gray;
			
			.draw, .won, .played, .loss {
				display: none;
			}

			th {
				text-align: left;
				color: @orange-gray;
			}
			td, th {
				padding: 20px 15px;
				font-size: 1.3em;
				font-weight: bold;
			}

		}

	}
}

div.content.fixture.single {

	h1 {
		text-align: center;
		line-height: 1.1em;
	}

	> span {
		padding: 13px 10px;
		.gradient (@purple-highlight, @purple);
		font-size: 1.1em;
		font-weight: 700;
		color: white;
		margin: 15px 0 10px;
		display: block;
		text-align: center;
	}

	table {

		tr {
			border-bottom: 1px dotted @orange-gray;
			
			.draw, .won, .played, .loss {
				display: none;
			}

			th {
				text-align: left;
				color: @orange-gray;
			}
			td, th {
				padding: 20px 15px;
				font-size: .8em;
				font-weight: bold;
				line-height: 1.2em;
				text-align: center;
			}

		}
		tr.exclude {
			opacity: .5;
			text-decoration: line-through;
		}
		tr.doubles, tr.total {
			th, td {
				color: @gray;
			}
		}

	}
}

div.content.post {

	article {
		border-bottom: 1px dotted @orange-gray;
		padding: 15px;

		header {
			text-align: right;

			h2 {
				text-align: left;
				font-size: 1.5em;
				margin: 0 0 10px;
				line-height: 1em;
			}
		}

		p {
			line-height: 1.2em;
			font-size: 1.1em;
		}

		footer {
			text-align: right;

			time {
				color: @orange-gray;
				float: left;
			}

			a {
				font-weight: 700;
			}

		}

	}
}

div.content.post.single {

	article {
		border-bottom: none;
		padding-top: 0;

		header {
			text-align: right;
			margin-bottom: 15px;

			h1 {
				// font-size: 1.5em;
				// margin: 0 0 10px;
				// padding: 0;
				// line-height: 1em;
			}
			time {
				color: @orange-gray;
				float: none;
			}
		}

		p {
			line-height: 1.2em;
			font-size: 1.1em;
		}

		footer {
			text-align: right;


			a {
				font-weight: 700;
			}

		}

	}
}

footer.main {
	nav {
		margin: 0 0 1em;

		a {
			background: darken(@white, 10%);
			color: darken(@white, 50%);
			font-family: 'Arial', 'sans-serif';
			font-weight: bold;
			display: block;
			padding: 1em;
			text-decoration: underline;
			border-top: 1px solid darken(@white, 15%);

			&:first-child {
				border-top: none;
			}
		}
	}
}

// @media screen and (min-width : @mq-mobile-landscape) {
// 	@import "mobile-landscape.less";
// }

// @media screen and (min-width : @mq-tablet-portrait) {
// 	@import "tablet-portrait.less";
// }

// @media screen and (min-width : @mq-tablet-landscape) {
// 	@import "tablet-landscape.less";
// }

// @media screen and (min-width : @mq-desktop) {
// 	@import "desktop.less";
// }

// html.lt-ie9 {
	
// 	body {
// 		background: black;
// 		text-align: center;
// 	}

// 	header.main,
// 	footer.main,
// 	div.content {
// 		text-align: left;
// 		width: 960px;
// 		margin: 0 auto;		
// 	}

// 	header.main {

// 		a.logo {
// 			// font-size: 10em;
// 			// height: 88px;
// 			// width: 158px;
// 			// padding: 6px 7px;
// 		}

// 	}

// 	div.content {
// 		background: red;
// 		font-size: 120%;
// 	}
// 	// div.content.merit td {
// 	// 	display: table-cell;
// 	// }
// }
