body {
	background-color: pink;
}

div.content.merit {
	table {
		tr {
			.played, .won {
				display: table-cell;
			}
		}
	}
}

div.content.league {
	table {
		tr {
			.played {
				display: table-cell;
			}
		}
	}
}