

body {
	background: black;
	text-align: center;
}

header.main,
footer.main,
div.content {
	text-align: left;
	width: 960px;
	margin: 0 auto;		
}

header.main {

	a.logo {
		// font-size: 10em;
		// height: 88px;
		// width: 158px;
		// padding: 6px 7px;
	}

}

div.content {
	background: red;
	font-size: 120%;
}
// div.content.merit td {
// 	display: table-cell;
// }
