.button-base {
	padding: 12px 14px;
	background-color: $color-gray-50;
	color: $color-white;
}

.button-primary {
	@extend .button-base;
	background-color: $color-secondary-2-0;
}

.button-secondary {
	@extend .button-base;
	background-color: $color-secondary-1-0;
}
