.menu-hamburger {
    cursor: pointer;
    @include transition(all 300ms ease);
    display: block;
    position: relative;
    width: 25px;
    float: right;
    margin: 18px 15px;
    padding: 9px 0;

    .middle,
    &:before,
    &:after {
        @include transition(all 300ms ease);
        @include transform-origin(center center);
        height: 2px;
    }
        
    .middle {
        background-color: $color-white;
        display: block;
    }

    &:before,
    &:after {
        content: '';
        background-color: $color-white;
        width: 100%;
        position: absolute;
        left: 0;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}

.nav-primary-is-active .menu-hamburger {
    
    .middle {
        opacity: 0;
    }

    &:before,
    &:after {
        opacity: 1;
    }

    &:before {
        @include transform(rotate(45deg));
        top: 9px;
    }

    &:after {
        @include transform(rotate(-45deg));
        bottom: 9px;
    }
}
