%image-fill {
    width: 100%;
    height: auto;
}

%text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%hidden {
    display: none !important;
    visibility: hidden;
}

%visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%page-break {
    display: block;
    page-break-after: always;
    page-break-inside: avoid;
}
