.to-top {
    @include transition(all 300ms ease);
    position: fixed;
    bottom: -70px;
    right: 0;
    width: 44px;
    height: 44px;
    z-index: 1;
    background-color: $color-primary-0;
    padding: 12px 11px;
    border-radius: 2px 0 0 0;

    &:hover {
        background-color: $color-secondary-2-0;
    }

    &.is-active {
        bottom: 0;

        @media only screen and (min-width: 600px) {
            bottom: 1em;
        }
    }

    @media only screen and (min-width: 600px) {
        right: 1em;
        border-radius: 2px;
    }
}

.to-top-image {
    width: 100%;
    height: auto;
}
