::-webkit-input-placeholder {
   color: $color-gray-30; 
}

:-moz-placeholder { /* Firefox 18- */
   color: $color-gray-30;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $color-gray-30;  
} 
 
:-ms-input-placeholder {  
   color: $color-gray-30;  
}

.input-reset {
    font-size: 1em;
}

.table {
    width: 100%;
    table-layout: fixed;
}

// hides the input from view
.input-submit {
    @extend .input-reset;
    position: absolute;
    left: -999em;
    width: 1px;
    height: 1px;
}

.label-block-above {
    display: block;
    margin-bottom: .5em;
}

.input,
.textarea {
    @extend .input-reset;
    @include box-sizing(border-box);
    @include transition(all 200ms); 
    color: $color-primary-4;
    font-family: $font-family;
    border: 1px solid $color-gray-30;
    color: $color-primary-4;
    padding: 0.4em 0.5em 0.3em;
    margin: 0;

    &:focus {
        box-shadow: 0 0 3px $color-gray-20;
        border-color: $color-gray-30;
        color: $color-primary-4;
    }
}
