.feedback-stream {
  position: relative;
}

.feedback-stream-position {
  position: fixed;
  left: 50%;
  width: 40%;
  margin-left: -20%;
  top: 2em;
  z-index: 9999;
}

.feedback-stream-single {
  transition: all 200ms;
  animation-fill-mode: forwards;
  animation-name: fadeInTop;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(.45, .15, .30, 1);
  background-color: white;
  color: white;
  padding: 1em 1.3em;
  border-radius: 5px;
  cursor: pointer;
  margin: 1em 0;
  opacity: 0;
}

.feedback-stream-single:hover {
  opacity: .8;
}

.feedback-stream-single.is-removed {
  animation-name: fadeOutTop;
}

.feedback-stream-single-cross {
  font-size: 1.6em;
  line-height: .5;
  width: 44px;
  height: 44px;
  padding: 15px;
  text-align: center;
  position: absolute;
  top: 6px;
  right: 6px;
}

.feedback-stream-single.is-positive {
  background-color: $color-primary-0;
}

.feedback-stream-single.is-positive:hover {
  background-color: color($color-primary-0 tint(2%));
}

.feedback-stream-single.is-positive:active {
  background-color: color($color-primary-0 shade(2%));
}

.feedback-stream-single.is-neutral {
  background-color: #666;
}

.feedback-stream-single.is-neutral:hover {
  background-color: color(#666 tint(2%));
}

.feedback-stream-single.is-neutral:active {
  background-color: color(#666 shade(2%));
}

.feedback-stream-single.is-negative {
  background-color: $color-primary-1;
}

.feedback-stream-single.is-negative:hover {
  background-color: color($color-primary-1 tint(2%));
}

.feedback-stream-single.is-negative:active {
  background-color: color($color-primary-1 shade(2%));
}
