header.main { 
  z-index: 1;
  background-color: #fff;
  height: 44px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 0 3px color(#000 a(20%));
}

header.main.is-fixed-top {
  background-color: #fff;
  z-index: 2;
}

header.main.is-fixed-top + .content {
  padding-top: 111px;
}

@mixin clearfix .inner-title-nav-user;

.header-site-title {
  float: left;
  margin-right: 1em;
  white-space: nowrap;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: auto;
  padding: 11px 14px;
  color: $color-secondary-1-0;
}

.nav-main-container {
  float: left;
}

.nav-user.nav-main-level1 {
  float: right;
  margin: 0;
}

.nav-user-name {
  display: block;
  padding: 11px 14px 11px 50px;
  color: $color-primary-0;
}

.nav-user.nav-main-level1 .nav-user-drop {
  right: 0;
  left: auto;
}

.nav-main-level1 {
  position: relative;
}

.nav-main-level1:hover .nav-main-level1-drop {
  animation-name: fadeInTop;
  animation-duration: .2s;
  animation-timing-function: linear;
  will-change: transform, opacity;
	display: block;
}

.nav-main-level1-drop {
  box-shadow: 0 0 3px color(#000 a(20%));
  background: #fff;
  display: none;
  position: absolute;
  min-width: 9em;
  top: 43px;
}

.nav-main-level2-link {
  transition: 200ms;
  display: block;
  padding: 8px 10px;
  color: $color-primary-0;
}

.nav-main-level2-link:hover {
  color: #fff;
  background: $color-primary-0;
}

.nav-main-level2-link:first-child {
  border: 0;
}

.nav-user-gravatar {
  width: 25px;
  height: 25px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: 13px;
}

.nav-user-gravatar-image {
  position: relative;
  top: 0;
  left: 0;
}

@mixin clearfix .page-actions;

.page-actions {
  box-shadow: 0 0 3px color(#000 a(20%));
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 44px;
  left: 0;
  right: 0;
}

.page-action {
  margin: 11px;
}

.menu-container {
  float: left;
}

.menu-primary-level-1-link {
  color: $color-primary-0;
  float: left;
  padding: 11px 14px;
  margin-right: 1em;
}
