@mixin clearfix .advertisements;

.advertisement {
  display: block;
  background-color: $color-primary-0;
  height: 12em;
  padding: 1em;
  border-radius: $border-radius;
  background-image: url('table-lip.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  color: #fff;
}

.advertisement-container:nth-child(2n) .advertisement {
  background-color: $color-secondary-1-0;
}

.advertisement-container {
  padding-top: $grid-gutter;
}

@media only screen and (min-width: 400px) {

  .advertisement-container {
    float: left;
    padding-right: $grid-gutter;  
  }
}

@media only screen and (min-width: 400px) and (max-width: 699px) {
  
  .advertisement-container {
    width: 50%;
  }

  .advertisement-container:nth-child(2n) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 700px) {
  
  .advertisement-container {
    width: 33.3%;
  }

  .advertisement-container:nth-child(3n) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 900px) {
  
  .advertisement {
    height: 250px;
  }
}

.advertisement-title {
  margin-top: 0;
  color: #fff;
}

.advertisement-description {
  color: #fff;
}
