.content.element .medium {
  display: none;
}

@mixin clearfix .contents;

.content-status,
.content.element .content-html {
  display: none;
}

.content-title {
  margin-top: 0;
  font-size: 1.3em;
  line-height: 1.5;
}

.content-thumb-background {
  display: none;
  background-size: cover;
  height: 13em;
  margin-bottom: 1em;
}

.content.element .tags {
  display: none;
}

.tags {
  margin: 1em 0;
}

a.tag {
  font-size: 0.9em;
  margin-right: 15px;
  margin-bottom: 15px;
  color: $color-secondary-1-0;
  padding: 0 0 3px;
  float: left;
  line-height: 1.1;
  border-bottom: 1px solid $color-secondary-1-0;
}

.content.element {
  position: relative;
  padding: 1em 0;
}

.content-author {
  display: none;
  font-size: 0.9em;
  float: right;
}

 .content-date {

    color: #ccc;
}
