.content-single-title {
  font-size: 2.2em;
  margin-bottom: 0.6em;
}

.content-single .content-post-html {
  margin: 1em 0;
}

.content-single .content-post-author {
  float: left;
}

.content-single .content-date {
  color: $color-primary-4;
}

.content-single .content-html {
  margin-bottom: 4em;
}

.content-single-title-two {
  font-size: 1.2em;
}

.content-single.is-type-post .content-date {
  display: block;
  text-align: right;
}

.is-type-page .content-date {
  display: none;
}
