.elttl-table {
  margin: 1em 0;
  width: 100%;
  table-layout: fixed;
  background: rgba(255, 255, 255, 0.5);
}

.elttl-table-row {
  transition: all 200ms ease;
}

.elttl-table-row:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

.elttl-table-headings:hover {
	background-color: inherit;
}

.elttl-table-cell {
	line-height: 1.5;
	padding: 10px;
	overflow: hidden;
  padding: 0.4em;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

@media (min-width: 400px) {

	.elttl-table-cell {
		padding: 14px;
	}
}

@media (min-width: 600px) {

	.elttl-table-cell {
		padding: 16px;
	}
}

@media (min-width: 800px) {

	.elttl-table-cell {
		padding: 1.5em;
	}
}

.elttl-table-cell a {
	line-height: 1.5;
}

/*player*/
.elttl-table-cell.is-rank,
.elttl-table-cell.is-average,

/*team*/
.elttl-table-cell.is-won,
.elttl-table-cell.is-draw,
.elttl-table-cell.is-loss,
.elttl-table-cell.is-played,
.elttl-table-cell.is-points {
	display: none;
	text-align: center;
}

.elttl-table-cell.is-team {
	display: none;
}

.elttl-table-cell.is-average,
.elttl-table-cell.is-points {
	display: table-cell;
}

@media (min-width: 400px) {

	.elttl-table-cell.is-played {
		display: table-cell;
	}
}

@media (min-width: 600px) {

	.elttl-table-cell.is-rank,
	.elttl-table-cell.is-won {
		display: table-cell;
	}
}

@media (min-width: 700px) {

	.elttl-table-cell.is-loss {
		display: table-cell;
	}

	.elttl-table-cell.is-name {
    width: 30%;
	}
}

@media (min-width: 800px) {

	.elttl-table-cell.is-team,
	.elttl-table-cell.is-draw {
		display: table-cell;
	}

	.elttl-table-cell.is-team {
    width: 20%;
	}
}

.is-encounter .encounter-rank-change {
  border-radius: $border-radius;
  background: $color-secondary-1-1;
  color: #fff;
  line-height: 1.9;
  text-align: center;
  font-weight: 400;
  font-size: 0.8em;
  display: block;
  padding: 0 0.7em;
  margin: 0 0 0.5em;
  clear: both;
}

@media (min-width: 800px) {

	.is-encounter .encounter-rank-change {
		clear: none;
	  margin: 2px 0 0 0.8em;
	  float: right;
	  min-width: 3em;
	}
}

.is-encounter .elttl-table-cell {
  position: relative;
	width: 20%;
	word-wrap: break-word;
}

.is-encounter .elttl-table-cell.is-score {
  text-align: center;
	width: 15%;
}

.is-encounter .elttl-table-cell.is-score-total {
  text-align: center;
  font-weight: 600;
}

.elttl-table-heading {
	background-color: rgba(0, 0, 0, 0.03);
}

.is-general .elttl-table-heading {
	text-align: left;
	width: 30%;
}
