@mixin clearfix .footer-container-address-socials;

.container-footer .form-search-query {
  width: 58%;
  float: left;
}

.container-footer .form-search-submit {
  float: right;
  padding: 6px 0;
  width: 28%;
  text-align: center;
}

$selector: .container-footer .form-search;
@mixin clearfix $selector;

@mixin clearfix .footer-socials;

.footer-social {
  width: 44px;
  height: 44px;
  fill: #666;
  margin-left: 7px;
  float: left;
}

.footer-social:first-child {
  margin-left: 0;
}

.footer-social:active {
  opacity: .5;
}

@media only screen and (max-width: 549px) {
  
  .footer-socials {
    margin: $grid-gutter 0;
  }
}

@media only screen and (min-width: 550px) {
  
  .footer-socials {
    float: right;
    width: auto;
    margin: 0;
  }
}

.footer-main {
  display: none;
}

.menu-secondary-container {
  padding: $grid-gutter 0;
}

@media (min-width: 450px) {
  
  .menu-secondary-container {
    float: left;
    padding-left: $grid-gutter;
    width: 50%;
  }

  .menu-secondary-container:first-child {
    padding-left: 0;
  }
}

.menu-secondary {
  border-radius: $border-radius;
  overflow: hidden;
  border: 1px solid #666;
}

.menu-secondary-item {
  transition: background-color 200ms ease;
  display: block;
  border-top: 1px solid #666;
  padding: 1em;
  color: $color-primary-0;
}

.menu-secondary-item:hover {
  background-color: #fff;
}

.menu-secondary-item:first-child {
  border-top: none;
}

.footer-address {
  margin-bottom: $grid-gutter;
  line-height: 1.5;
  color: #666;
}

@media (min-width: 550px) {

  .footer-address {
    float: left;
    width: 50%;
  }
}

@media (min-width: 950px) {

  .footer-address {
    width: 20%;
  }
}

.footer-address a {
  color: #666;
  font-weight: 600;
}

.logo-table-tennis-england {
  display: block;
  background-color: #fff;
  text-align: center;
  padding: 1em;
  overflow: hidden;
  border-radius: $border-radius;

}

@media (min-width: 650px) {

  .logo-table-tennis-england {
    float: left;
    width: 30%;
  }
}

@media (min-width: 950px) {

  .logo-table-tennis-england {
    width: 20%;
    margin: 0;
    float: right;
  }
}

.logo-table-tennis-england-image {
  max-width: 100%;
  height: auto;
}

@mixin clearfix .container-footer-inner;

.container-footer-inner {
  padding: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.container-footer {
  background-color: #eee;
}
