@mixin clearfix .footer-container-address-socials;
@mixin clearfix .menu-secondaries-container;

.container-footer .form-search-query {
  width: 58%;
  float: left;
}

.container-footer .form-search-submit {
  float: right;
  padding: 6px 0;
  width: 28%;
  text-align: center;
}

$selector: .container-footer .form-search;
@mixin clearfix $selector;

@mixin clearfix .footer-socials;

.footer-social {
  width: 44px;
  height: 44px;
  fill: #fff;
  margin-left: 7px;
}

@media only screen and (max-width: 849px) {
.footer-social {
  float: left;
  }
}

.footer-social:first-child {
  margin-left: 0;
}

.footer-social:active {
  opacity: .5;
}

.footer-socials {
  margin-bottom: $grid-gutter
}

.footer-main {
  display: none;
}

.menu-secondary-container {
  padding-bottom: $grid-gutter;
}

@media only screen and (max-width: 649px) {
  
  .menu-secondary-container {
    padding-top: $grid-gutter;
  }
}

@media (min-width: 450px) {
  
  .menu-secondary-container {
    float: left;
    padding-left: $grid-gutter;
    width: 50%;
  }

  .menu-secondary-container:first-child {
    padding-left: 0;
  }
}

.menu-secondary {
  border-radius: $border-radius;
  overflow: hidden;
}

.menu-secondary-item {
  transition: background-color 200ms ease;
  display: block;
  background-color: rgba(255,255,255,.1);
  border-top: 1px solid;
  border-color: rgba(255,255,255,.2);
  padding: 1em;
  color: #ebd8cf;
}

.menu-secondary-item:hover {
  background-color: rgba(255,255,255,.2);
}

.menu-secondary-item:first-child {
  border-top: none;
}

.footer-address {
  margin-bottom: $grid-gutter;
  line-height: 1.5;
  color: #fff;
}

.footer-address a {
  color: #fff;
  font-weight: 600;
}

.logo-table-tennis-england {
  display: block;
  background-color: #fff;
  text-align: center;
  padding: 1em;
  overflow: hidden;
  border-radius: $border-radius;
  width: 140px;
      height: 127px;
}

@media only screen and (min-width: 850px) {
.logo-table-tennis-england {
  float: right;}
}

.logo-table-tennis-england-image {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 850px) {
  
  .logo-table-tennis-england-image {float: right;}
  .footer-social {
    float: right;
  }
}

@mixin clearfix .container-footer-inner;

.container-footer-inner {
  padding: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.container-footer {
  background-color: #5E412F;
}

@media only screen and (min-width: 650px) {
  
  .menu-secondaries-container {
      float: left;
      width: 75%;
  }

  .footer-container-address-socials {
      float: left;
      width: 25%;
      padding-right: $grid-gutter;
  }
}

@media only screen and (min-width: 850px) {
  
  .footer-socials-and-ttengland {
      float: left;
      width: 25%;
  }

  .menu-secondaries-container {
      padding-right: $grid-gutter;
      width: 52%;
  }

  .footer-container-address-socials {
      width: 23%;
  }
}
