@mixin clearfix .banner-and-press;
@mixin clearfix .home-heading;
@mixin clearfix .gallery-container;

@media only screen and (max-width: 699px) {
  
  .home.page {
    padding: 44px 0 0 0; /*clears header bar*/
  }
}

.home-button-all-posts {
  float: right;
}

.home-heading-text {
  font-size: 26px;
}

@media (min-width: 700px) {
  
  .banner-primary-container {
    width: 50%;
    float: left;
    padding-right: $grid-gutter;
  }
}

@media only screen and (max-width: 699px) {
  
  .home .advertisements,
  .home-gallery-container,
  .home-divisions,
  .home-press {
    padding: 0 $grid-gutter;
  }
}

.home .advertisements,
.home-gallery-container,
.home-divisions,
.home-press {
  padding-top: $grid-gutter;
}

.gallery-link {
  transition: all 200ms ease;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background-size: cover;
  float: left;
}

@media only screen and (max-width: 499px) {
  
  .gallery-link {
    width: 33.3%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 899px) {
  
  .gallery-link {
    width: 25%;
    height: 140px;
  }
}

@media only screen and (min-width: 900px) {
  
  .gallery-link {
    width: 20%;
    height: 160px;
  }
}

.division-container {
  padding-top: $grid-gutter;
}

@media only screen and (min-width: 350px) {

  .division-container {
    float: left;
    padding-right: $grid-gutter;  
  }
}

@media only screen and (min-width: 350px) and (max-width: 649px) {
  
  .division-container {
    width: 50%;
  }

  .division-container:nth-child(2n) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 650px) and (max-width: 949px) {
  
  .division-container {
    width: 33.3%;
  }

  .division-container:nth-child(3n) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 950px) {
  
  .division-container {
    width: 25%;
  }

  .division-container:nth-child(4n) {
    padding-right: 0;
  }
}

.home .division {
  line-height: 1;
  padding: 12px;
  border-radius: $border-radius;
  border: 1px solid $color-primary-0;
}


.home .division-image {
  display: none;
  /*width: 1.5em;
  position: absolute;
  top: 1.2em;
  left: 1em;*/
}

.home .division-name {
  font-size: 18px;
  color: $color-primary-0;
}

.gallery-container {
  padding-top: $grid-gutter;
}

.home-button-all-posts {
  position: relative;
  top: 10px;
}

@media (min-width: 700px) {
  
  .home-press {
    padding-top: 0;
    width: 50%;
    float: right;
  }
}

.advertisement-title {
  font-size: 26px;
  line-height: 1.2;
}

.advertisement-description {
  line-height: 1.5;
  margin: 1em 0;
  opacity: .8;
}
