.home-button-all-posts {
	float: right;
}

@mixin clearfix .home-press-heading;

@media (min-width: 700px) {
  
  .banner-primary {
    width: 50%;
    float: left;
  }
}
  
@media (min-width: 700px) {
  
  .home-press {
    width: 50%;
    float: right;
  }
}

.banner-and-press {
	float: left;
}

.gallery {
  margin: 1em 0;
}

.gallery-link {
  transition: all 300ms ease;
  transform: rotate(-2deg);
  border-radius: 2px;
  display: block;
  margin: 1em auto;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(#000, .5);
  width: 12em;
  height: 8.7em;
}

.gallery-link:hover {
  transform: rotate(1deg);
}

.gallery-link:hover .gallery-image {
  transform: scale(1.2);
}

.gallery-image {
  transition: all 5s ease;
  max-width: 100%;
  height: auto;
}

.home .division {
  display: block;
  border: 0;
  position: relative;
  padding: 1em 1em 1em 3.5em;
  border-radius: 2px;
  margin-top: 1em;
  background-color: #FFF7E0;
  border: 1px solid #FAE8B4;
}

@media (max-width: 399px) {

  .home .division:first-child {
      margin-top: 0;
  }
}

@media (min-width: 400px) {

  .home .division {
    float: left;
  }
}

@media (min-width: 400px) and (max-width: 949px) {

  .home .division {
    width: 47%;
    margin: 3% 0;
    margin-right: 3%;    
  }

  .home .division:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 950px) {
  
  .home .division {  
    float: left;
    margin-left: 4%;
    width: 22%;
  }
  
  .home .division:first-child {
    float: left;
    margin-left: 0;
  }
}

.home .divisions {
  margin: 1em 0;
}

.home .division-image {
  width: 1.5em;
  position: absolute;
  top: 1.2em;
  left: 1em;
}

.home .division-name {
  font-size: 1.4em;
  font-weight: 600;
}
