@mixin clearfix .banner-and-press;
@mixin clearfix .home-heading;

.home-button-all-posts {
  float: right;
}

.home-heading-text {
  font-size: 26px;
}

@media (min-width: 700px) {
  
  .banner-primary-container {
    width: 50%;
    float: left;
    padding-right: $grid-gutter;
  }
}
  
@media (min-width: 700px) {
  
  .home-press {
    width: 50%;
    float: right;
  }
}

@media only screen and (max-width: 699px) {
  
  .home-divisions,
  .home-press {
    margin: 0 $grid-gutter;
  }
}

.gallery {
  margin: 1em 0;
}

.gallery-link {
  transition: all 300ms ease;
  transform: rotate(-2deg);
  border-radius: 2px;
  display: block;
  margin: 1em auto;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(#000, .5);
  width: 12em;
  height: 8.7em;
}

.gallery-link:hover {
  transform: rotate(1deg);
}

.gallery-link:hover .gallery-image {
  transform: scale(1.2);
}

.gallery-image {
  transition: all 5s ease;
  max-width: 100%;
  height: auto;
}

.home .division-container {
  padding-top: $grid-gutter;
}

@media only screen and (min-width: 350px) {

  .home .division-container {
    float: left;
    padding-right: $grid-gutter;  
  }
}

@media only screen and (min-width: 350px) and (max-width: 649px) {
  
  .home .division-container {
    width: 50%;
  }

  .home .division-container:nth-child(2n) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 650px) and (max-width: 949px) {
  
  .home .division-container {
    width: 33.3%;
  }

  .home .division-container:nth-child(3n) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 950px) {
  
  .home .division-container {
    width: 25%;
  }

  .home .division-container:nth-child(4n) {
    padding-right: 0;
  }
}

.home .division {
  line-height: 1;
  padding: 12px;
  border-radius: $border-radius;
  border: 1px solid $color-primary-0;
}


.home .division-image {
  display: none;
  /*width: 1.5em;
  position: absolute;
  top: 1.2em;
  left: 1em;*/
}

.home .division-name {
  font-size: 18px;
  color: $color-primary-0;
}
