@import "_settings.css";
@import "_dependencies.css";
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/magnific-popup/dist/magnific-popup.css";
@import "../bower_components/magnific-popup/dist/magnific-popup.css";
@import "../bower_components/owlcarousel/owl-carousel/owl.theme.css";
@import "../bower_components/owlcarousel/owl-carousel/owl.carousel.css";
@import "_reset.css";
@import "_reusable.css";
@import "_form.css";
@import "_typography.css";
@import "_alert.css";
@import "_blankslate.css";

/* site-specific */
@import "_elttl-table.css";
@import "division/_overview.css";
@import "year/_all.css";
@import "home/_cover.css";
@import "_header.css";
@import "_home.css";
@import "_ad.css";
@import "_content.css";
@import "_content-single.css";
@import "_pagination.css";
@import "_footer.css";

.button-primary,
.button-secondary {
  padding: 9px 11px;
  border-radius: $border-radius;
}

html {
  background-color: #5E412F;
}

html.lt-ie9 {
  background-color: #fff;
}

.lt-ie9 .container-site,
.lt-ie9 .container-footer {
  display: none;
}

.to-top {
  transition: all 200ms ease;
  position: fixed;
  z-index: 1;
  padding: 0.5em;
  background-color: $color-primary-0;
  display: block;
  width: 44px;
  height: 44px;
  bottom: -44px;
}

@media only screen and (max-width: 499px) {
  
  .to-top {
    border-top-left-radius: $border-radius;
    right: 0;
  }

  .to-top.is-active {
    bottom: 0;
  }
}

@media only screen and (min-width: 499px) {
  
  .to-top {
    border-radius: $border-radius;
    right: $grid-gutter;
  }

  .to-top.is-active {
    bottom: $grid-gutter;
  }
}

.core-h1 {
  text-shadow: 1px 1px $color-primary-4;
  text-align: center;
  padding: 0.3em;
  background-color: $color-primary-0;
  color: #fff;
  border-bottom: 1px solid $color-secondary-1-0;
  font-size: 1.4em;
  margin-bottom: 1em;
}

.search-result-description {
  margin-bottom: 1em;
}

@mixin clearfix .page;

.page {
  max-width: 1024px;
  margin: 0 auto;
  padding: 64px 20px 20px; /*44+20*/
}

@mixin clearfix .container-header-inner;

.team-single-secretary-telephone-mobile,
.team-single-secretary-telephone-landline {
  display: block;
  margin: 1em 0;
}

.container-site-inner {
  background-color: #fff;
}

@media (min-width: 1500px) {
  
  .container-site-inner {
    background-image: url('bg.gif');
    background-position: center top;
    background-repeat: no-repeat;
  }
}

.is-archive {
  padding-top: 33px;
}

.google-map {
  border: 0;
  width: 100%;
  height: 15em;
  margin-top: 3em;
}

.menu-tables-option-container {
  padding-bottom: $grid-gutter;
}

@media only screen and (min-width: 550px) {
  
  .menu-tables-option-container {
    float: left;
    padding-left: $grid-gutter;
    width: 33.3%;
  }

  .menu-tables-option-container:first-child {
    padding-left: 0;
  }
}

.menu-tables-option {
  display: block;
  text-align: center;
}

.header-sticker-beta {
  float: left;
  text-transform: uppercase;
  font-size: 0.7em;
  background-color: #ccc;
  color: #fff;
  line-height: 1;
  padding: 0.3em;
  border-radius: $border-radius;
  position: relative;
  top: 16px;
  left: 6px;
}

.header-sticker-beta:hover {
  background-color: #ccc;
}

.fixture-single-time {
  color: #ccc;
}

.team-single-secondary-title,
.player-single-secondary-title {
  /*@extend .h2;*/
}

.page-secondary-title {
  font-size: 22px;
  margin: 1em 0 0.5em;
}

.header-is-archive-container {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5px;
  background-color: #eee;
  font-size: 14px;
}

.header-select-year {
  float: right;
  margin: 8px 10px;
}

@media only screen and (max-width: 599px) {
  
  .header-select-year {display: none;}
}

.fixture-time-fulfilled {
    margin-top: 6px;
    color: $color-primary-1;
    font-size: 12px;
}

@import "_print.css";
