@import "_settings.css";
@import "_dependencies.css";

.fixture {
  color: $color-primary-0;
  border-bottom: 1px solid;
}

.division-image {
  display: block;
  width: 44px;
  height: 44px;
  margin: 0 auto;
}
