.container-footer .form-search-query {
  width: 58%;
  float: left;
}

.container-footer .form-search-submit {
  float: right;
  padding: 6px 0;
  width: 28%;
  text-align: center;
}

$selector: .container-footer .form-search;
@mixin clearfix $selector;



.calling-card {
  margin: 1em 0;
}

.calling-card-portrait {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 9em;
  border-radius: 99em;
  overflow: hidden;
  height: 9em;
}

.calling-card-content-title {
  font-size: 1.3em;
}

.calling-card-content-button.button.primary {
  float: left;
}

.calling-card-content-description {
  margin-bottom: 1em;
}

.footer-social {
  width: 3em;
  height: 3em;
  float: left;
  fill: $color-senary;
  margin-right: 7px;
}

.footer-social:active {
  opacity: .5;
}

@mixin clearfix .footer-socials;

.footer-socials {
  margin: 1em 0;
  margin-top: 0;
}

@mixin clearfix .container-footer-inner;

.container-footer-inner {
  padding: 1em;
}

.container-footer {
  margin-top: 50px;
  background-color: color(#000 a(50%));
}

.container-footer .menu-primary {
  margin: 1em 0;
}

.container-footer .menu-primary .menu-primary-level-1-link {
  float: left;
  background-color: transparent;
  color: #fff;
  margin-right: 2em;
  padding: 0;
}

@media (min-width: 600px) {
  


  .container-footer .form-search {
    float: right;
    width: 50%;
  }

  .footer-socials {
    float: left;
    width: 50%;
  }
}

@media (min-width: 1300px) {

  .container-footer {
    min-height: 30em;
  }
}

.footer-main {
  display: none;
}

.container-footer .menu-primary-container {
  margin: 1em 0;
  margin-bottom: 0;
}

.footer-copy {
  color: #fff;
}
