@import "../_dependencies.css";
@mixin link $selector, $color-secondary-1-0;
@import "_settings.css";
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/magnific-popup/dist/magnific-popup.css";
@import "../_reset.css";
@import "../_reusable.css";
@import "../_keyframe.css";
@import "../_form.css";
@import "../_typography.css";
@import "../_alert.css";
@import "../_blankslate.css";

/* admin specific */
@import "_header.css";
@import "_feedback-stream.css";

.content-all-table {
	transition: all 200ms;
	width: 100%;
	table-layout: fixed;
}

footer.main {
  padding: 11px 14px;
  border-top: 1px solid rgb(217, 219, 220);
  margin-top: 50px;
}

.feedback-container {
  box-shadow: 0 1px 3px green;
  margin: 1em auto;
  border: 1px solid;
  padding: 0.5em 0.8em;
  background: color(green tint(50%));
  border-color: color(green tint(10%));
  color: green;
  cursor: default;
}

.feedback-container:hover {
  opacity: .5;
}

.feedback-description {
  margin: 0;
}

.page {
  padding: 1em;
  margin-top: 97px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.table a {
  color: $color-primary-0;
}

.table th {
  background-color: color($color-secondary-1-0 tint(95%));
}

.table th,
.table td {
  border: 1px solid color($color-secondary-1-0 tint(80%));
}
