/* line 1, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.p, .typography p, .page-primary-description, .block-margins, .block-clear, .typography pre,
.typography code, .unordered-list,
.typography ul, .ordered-list, .typography ol, .alert p {
  margin: 1em 0; }

/* line 5, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 10, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.table {
  width: 100%; }
  /* line 143, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .table th {
    font-weight: 600;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.05); }
  /* line 150, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .table th,
  .table td {
    padding: 0.5em;
    border: 1px solid #7b8073; }

/* line 14, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.form label, .form-label {
  font-weight: 600;
  margin-right: 1em;
  line-height: 1.8; }
  /* line 21, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
  .form label.block, .block.form-label {
    margin-bottom: 6px; }

/* line 26, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.form input[type="url"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="text"], .form textarea, .form-input, .form-textarea {
  font-size: 1em;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  color: #5c6056;
  font-family: "Open Sans", "Arial", "sans-serif";
  border: 1px solid #7b8073;
  padding: 2px 3px;
  margin: 0;
  border-radius: 0px; }
  /* line 113, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .form input[type="url"]:focus,
  .form input[type="email"]:focus,
  .form input[type="tel"]:focus,
  .form input[type="password"]:focus,
  .form input[type="text"]:focus, .form textarea:focus, .form-input:focus, .form-textarea:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-color: #7b8073;
    color: #5c6056; }

/* line 30, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.form-select {
  font-size: 1em;
  box-sizing: border-box;
  color: #5c6056;
  font-family: "Open Sans", "Arial", "sans-serif";
  border: 1px solid #7b8073;
  padding: 1px 2px;
  margin: 0;
  border-radius: 0px; }
  /* line 131, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .form-select:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-color: #7b8073;
    color: #5c6056; }

/* line 20, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/addons/_clearfix.scss */
.form-action::after {
  clear: both;
  content: "";
  display: table; }

/* line 37, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.form-action .left {
  margin-right: 1em; }

/* line 41, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.form-action .right {
  margin-left: 1em; }

/* line 46, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.page-break {
  display: block;
  page-break-after: always;
  page-break-inside: avoid; }

/* line 52, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* line 58, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.a,
.typography a,
.typography a:visited, .link {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #74a611;
  border-bottom-color: #74a611; }
  /* line 83, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .a:hover,
  .typography a:hover,
  .link:hover {
    color: #5c840d;
    border-bottom-color: #5c840d; }
  /* line 89, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .a:focus,
  .typography a:focus,
  .link:focus {
    box-shadow: 0 0 3px #74a611; }
  /* line 93, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .a:active,
  .typography a:active,
  .link:active {
    color: #3a5308;
    border-bottom-color: #3a5308; }
  /* line 68, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .a:visited,
  .typography a:visited,
  .link:visited {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: #74a611;
    border-bottom-color: #74a611; }
    /* line 83, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
    .a:visited:hover,
    .typography a:visited:hover,
    .link:visited:hover {
      color: #5c840d;
      border-bottom-color: #5c840d; }
    /* line 89, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
    .a:visited:focus,
    .typography a:visited:focus,
    .link:visited:focus {
      box-shadow: 0 0 3px #74a611; }
    /* line 93, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
    .a:visited:active,
    .typography a:visited:active,
    .link:visited:active {
      color: #3a5308;
      border-bottom-color: #3a5308; }

/* line 62, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.link-secondary, .alert a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #7b8073;
  border-bottom-color: #7b8073; }
  /* line 83, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .link-secondary:hover, .alert a:hover {
    color: #62665c;
    border-bottom-color: #62665c; }
  /* line 89, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .link-secondary:focus, .alert a:focus {
    box-shadow: 0 0 3px #74a611; }
  /* line 93, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .link-secondary:active, .alert a:active {
    color: #3d4039;
    border-bottom-color: #3d4039; }
  /* line 68, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .link-secondary:visited, .alert a:visited {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: #7b8073;
    border-bottom-color: #7b8073; }
    /* line 83, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
    .link-secondary:visited:hover, .alert a:visited:hover {
      color: #62665c;
      border-bottom-color: #62665c; }
    /* line 89, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
    .link-secondary:visited:focus, .alert a:visited:focus {
      box-shadow: 0 0 3px #74a611; }
    /* line 93, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
    .link-secondary:visited:active, .alert a:visited:active {
      color: #3d4039;
      border-bottom-color: #3d4039; }

/* line 66, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.button {
  font-weight: 600;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 1;
  padding: 5px 8px;
  background-color: #7b8073;
  border: 1px solid;
  color: #fff;
  display: inline-block;
  border-radius: 0px;
  border-color: #7b8073; }
  /* line 23, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .button:hover {
    background-color: #95998f;
    border-color: #95998f; }
  /* line 34, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .button:active {
    background-color: #62665c;
    border-color: #62665c; }
  /* line 45, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .button:focus {
    border-color: #74a611; }
  /* line 50, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .disabled.button,
  .button:disabled {
    cursor: default;
    background-color: #bdbfb9;
    border-color: #bdbfb9; }

/* line 70, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.button-outline {
  font-weight: 600;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 1;
  padding: 5px 8px;
  background-color: transparent;
  border: 1px solid;
  color: #7b8073;
  display: inline-block;
  border-radius: 0px;
  border-color: #7b8073; }
  /* line 23, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .button-outline:hover {
    color: #95998f;
    border-color: #95998f; }
  /* line 34, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .button-outline:active {
    color: #62665c;
    border-color: #62665c; }
  /* line 45, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .button-outline:focus {
    border-color: #74a611; }
  /* line 50, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .disabled.button-outline,
  .button-outline:disabled {
    cursor: default;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5); }

/* line 74, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.button-primary {
  font-weight: 600;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 1;
  padding: 5px 8px;
  background-color: #74a611;
  border: 1px solid;
  color: #fff;
  display: inline-block;
  border-radius: 0px;
  border-color: #74a611; }
  /* line 23, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .button-primary:hover {
    background-color: #8fb740;
    border-color: #8fb740; }
  /* line 34, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .button-primary:active {
    background-color: #5c840d;
    border-color: #5c840d; }
  /* line 45, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .button-primary:focus {
    border-color: #74a611; }
  /* line 50, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .disabled.button-primary,
  .button-primary:disabled {
    cursor: default;
    background-color: #b9d288;
    border-color: #b9d288; }

/* line 78, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.button-primary-outline {
  font-weight: 600;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 1;
  padding: 5px 8px;
  background-color: transparent;
  border: 1px solid;
  color: #74a611;
  display: inline-block;
  border-radius: 0px;
  border-color: #74a611; }
  /* line 23, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .button-primary-outline:hover {
    color: #8fb740;
    border-color: #8fb740; }
  /* line 34, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .button-primary-outline:active {
    color: #5c840d;
    border-color: #5c840d; }
  /* line 45, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .button-primary-outline:focus {
    border-color: #74a611; }
  /* line 50, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .disabled.button-primary-outline,
  .button-primary-outline:disabled {
    cursor: default;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5); }

/* line 82, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.h1, .typography h1, .page-primary-title, .heading-primary, .h2, .typography h2, .heading-secondary, .h3, .typography h3, .color-palette-heading, .h4, .typography h4, .h5, .typography h5, .h6, .typography h6 {
  color: #5c6056;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-weight: 600;
  margin: 1em 0 0.5em;
  line-height: 1; }

/* line 90, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.h1, .typography h1, .page-primary-title, .heading-primary {
  font-size: 2em; }

/* line 95, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.h2, .typography h2, .heading-secondary {
  font-size: 1.5em; }

/* line 100, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.h3, .typography h3, .color-palette-heading {
  font-size: 1.17em; }

/* line 106, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.h3,
.typography h3, .color-palette-heading,
.h4, .typography h4 {
  line-height: 1.3; }

/* line 111, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.h5, .typography h5 {
  font-size: .83em; }

/* line 116, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.h6, .typography h6 {
  font-size: .75em; }

/* line 121, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
.p, .typography p, .page-primary-description {
  line-height: 1.5; }
  /* line 125, /var/www/html/mvc/app/site/codex/sass/_placeholder.scss */
  .lead.p, .typography p.lead, .lead.page-primary-description {
    font-size: 20px;
    color: #7c7f77; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
/* line 23, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 36, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 60, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 72, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 86, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 97, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 108, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 117, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 129, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 138, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 152, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 161, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 197, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 236, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 245, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 252, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
sup {
  top: -0.5em; }

/* line 256, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 311, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 322, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 333, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 341, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 351, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 363, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 391, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 405, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 417, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 434, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 447, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 456, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 466, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 477, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 493, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
/* line 503, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 517, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 525, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 538, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 551, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 560, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 571, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 577, /var/www/html/mvc/app/site/codex/sass/vendor/_normalize.scss */
td,
th {
  padding: 0; }

/* line 34, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/css3/_selection.scss */
::-moz-selection {
  color: #fff;
  background-color: #74a611; }

/* line 38, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/css3/_selection.scss */
::selection {
  color: #fff;
  background-color: #74a611; }

/* line 3, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/css3/_placeholder.scss */
::-webkit-input-placeholder {
  color: #b2b2b2; }

/* line 3, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/css3/_placeholder.scss */
::-moz-placeholder {
  color: #b2b2b2; }

/* line 3, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/css3/_placeholder.scss */
:-moz-placeholder {
  color: #b2b2b2; }

/* line 3, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/css3/_placeholder.scss */
:-ms-input-placeholder {
  color: #b2b2b2; }

/* line 10, /var/www/html/mvc/app/site/codex/sass/_reset.scss */
body {
  color: #5c6056;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 16px;
  font-weight: 400; }

/* line 19, /var/www/html/mvc/app/site/codex/sass/_reset.scss */
*,
*:before,
*:after {
  box-sizing: border-box; }

/* line 24, /var/www/html/mvc/app/site/codex/sass/_reset.scss */
a,
a:visited {
  text-decoration: none; }

/* line 31, /var/www/html/mvc/app/site/codex/sass/_reset.scss */
input,
select,
svg,
a:focus {
  outline: none; }

/* line 35, /var/www/html/mvc/app/site/codex/sass/_reset.scss */
p {
  margin: 0; }

/* line 40, /var/www/html/mvc/app/site/codex/sass/_reset.scss */
ul,
ol {
  margin: 0;
  padding: 0; }

/* line 50, /var/www/html/mvc/app/site/codex/sass/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
  margin: 0; }

/* line 56, /var/www/html/mvc/app/site/codex/sass/_reset.scss */
fieldset {
  padding: 0;
  margin: 1em 0;
  border: none; }

/* line 1, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.block {
  display: block; }

/* line 9, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.hide {
  display: none; }

/* line 13, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.invisible {
  visibility: hidden; }

/* line 21, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 33, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 42, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.left {
  float: left; }

/* line 46, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.right {
  float: right; }

/* line 50, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.w100 {
  width: 100%; }

/* line 20, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/addons/_clearfix.scss */
.block-clear::after {
  clear: both;
  content: "";
  display: table; }

/* line 20, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/addons/_clearfix.scss */
.clearfix::after {
  clear: both;
  content: "";
  display: table; }

/* line 68, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.m1 {
  margin: 1em; }

/* line 72, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.mt1 {
  margin-top: 1em; }

/* line 76, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.mr1 {
  margin-right: 1em; }

/* line 80, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.mb1 {
  margin-bottom: 1em; }

/* line 84, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.ml1 {
  margin-left: 1em; }

/* line 88, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.p1 {
  padding: 1em; }

/* line 92, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.pt1 {
  padding-top: 1em; }

/* line 96, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.pr1 {
  padding-right: 1em; }

/* line 100, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.pb1 {
  padding-bottom: 1em; }

/* line 104, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.pl1 {
  padding-left: 1em; }

/* line 128, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.button-smaller {
  font-size: 75%; }

/* line 132, /var/www/html/mvc/app/site/codex/sass/_reusable.scss */
.button-larger {
  font-size: 125%; }

/* line 8, /var/www/html/mvc/app/site/codex/sass/_form.scss */
.form label > input[type="checkbox"],
.form label > input[type="radio"] {
  margin-right: 10px; }

/* line 20, /var/www/html/mvc/app/site/codex/sass/_form.scss */
.form button[type="submit"] {
  font-weight: 600;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 1;
  padding: 5px 8px;
  background-color: #74a611;
  border: 1px solid;
  color: #fff;
  display: inline-block;
  border-radius: 0px;
  border-color: #74a611; }
  /* line 23, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .form button[type="submit"]:hover {
    background-color: #8fb740;
    border-color: #8fb740; }
  /* line 34, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .form button[type="submit"]:active {
    background-color: #5c840d;
    border-color: #5c840d; }
  /* line 45, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .form button[type="submit"]:focus {
    border-color: #74a611; }
  /* line 50, /var/www/html/mvc/app/site/codex/sass/_mixin.scss */
  .form button[type="submit"].disabled,
  .form button[type="submit"]:disabled {
    cursor: default;
    background-color: #b9d288;
    border-color: #b9d288; }

/* line 4, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.typography a,
.typography a:visited {
  line-height: 1.5;
  word-break: break-all; }

/* line 11, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.typography a:hover,
.typography a:focus {
  color: #7b8073;
  border-bottom-color: #7b8073; }

/* line 16, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.typography *:focus {
  outline: none; }

/* line 70, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.typography mark {
  background-color: #74a611;
  color: #fff; }

/* line 80, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.page-primary-title {
  margin-top: 0; }

/* line 89, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.text-left {
  text-align: left; }

/* line 93, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.text-center {
  text-align: center; }

/* line 97, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.text-right {
  text-align: right; }

/* line 101, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.text-size-larger {
  font-size: 1.2em; }

/* line 105, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.text-size-smaller {
  font-size: .8em; }

/* line 137, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.blockquote {
  border-left: 2px solid #adafaa;
  padding: 1em 1em 1em 1.5em;
  margin: 0; }

/* line 143, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.bold, .typography b, .typography strong {
  font-weight: 700; }

/* line 147, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.italic, .typography i,
.typography em {
  font-style: italic; }

/* line 151, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.underline {
  text-decoration: underline; }

/* line 155, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.unordered-list, .typography ul {
  list-style-type: disc;
  list-style-position: outside; }

/* line 160, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.ordered-list, .typography ol {
  list-style: decimal; }

/* line 165, /var/www/html/mvc/app/site/codex/sass/_typography.scss */
.unordered-list,
.typography ul,
.ordered-list, .typography ol {
  margin-left: 1em;
  padding-left: 1em; }

/* line 1, /var/www/html/mvc/app/site/codex/sass/_alert.scss */
.alert {
  border: 1px solid #adafaa;
  color: #5c6056;
  background-color: #dedfdd;
  padding: 1em;
  margin: 1em 0;
  line-height: 1.5;
  border-radius: 0px; }
  /* line 10, /var/www/html/mvc/app/site/codex/sass/_alert.scss */
  .alert *:first-child {
    margin-top: 0; }
  /* line 14, /var/www/html/mvc/app/site/codex/sass/_alert.scss */
  .alert *:last-child {
    margin-bottom: 0; }
  /* line 18, /var/www/html/mvc/app/site/codex/sass/_alert.scss */
  .alert.fail {
    border-color: #bdbfb9;
    color: #7b8073;
    background-color: #e4e5e3; }
  /* line 24, /var/www/html/mvc/app/site/codex/sass/_alert.scss */
  .alert.success {
    border-color: #b9d288;
    color: #5c840d;
    background-color: #e3edcf; }

/* line 1, /var/www/html/mvc/app/site/codex/sass/_blankslate.scss */
.blankslate {
  position: relative;
  padding: 30px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05); }

/* line 6, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2em; }
  /* line 20, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/addons/_clearfix.scss */
  .container::after {
    clear: both;
    content: "";
    display: table; }

/* line 13, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.content-container {
  float: right;
  width: 70%; }

/* line 18, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.menu-container {
  float: left;
  width: 25%; }

/* line 23, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.rainbow-pre {
  padding: 1em; }

/* line 27, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.rainbow {
  font-size: 16px; }

/* line 31, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.site-heading {
  text-align: center;
  margin: 0 0 1em;
  font-size: 2em;
  text-transform: uppercase;
  padding: 20px;
  font-size: 3em;
  color: #7f7f7f;
  border-radius: 0 0 3px 3px;
  border: 1px solid #ccc;
  background-color: #f8f8f8; }

/* line 52, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.example-code + .rainbow-pre {
  margin-top: 0;
  border-radius: 0 0 3px 3px; }

/* line 57, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.example-code {
  padding: 1em;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  background-color: #fff; }
  /* line 20, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/addons/_clearfix.scss */
  .example-code::after {
    clear: both;
    content: "";
    display: table; }

/* line 66, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.cols {
  float: left;
  width: 100%; }
  /* line 20, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/addons/_clearfix.scss */
  .cols::after {
    clear: both;
    content: "";
    display: table; }

/* line 70, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.col-six {
  float: left;
  width: 47.5%;
  margin-right: 5%; }
  /* line 73, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
  .col-six:nth-child(2n) {
    margin-right: 0; }

/* line 78, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.col-four {
  float: left;
  width: 30%;
  margin-right: 5%; }
  /* line 81, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
  .col-four:nth-child(3n) {
    margin-right: 0; }

/* line 20, /var/www/html/mvc/app/site/codex/sass/vendor/bourbon/addons/_clearfix.scss */
.color-palette-container::after {
  clear: both;
  content: "";
  display: table; }

/* line 90, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-palette-column {
  float: left;
  width: 30%;
  margin-right: 5%; }
  /* line 93, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
  .color-palette-column:nth-child(3n) {
    margin-right: 0; }

/* line 102, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-palette-color {
  padding: 10px;
  margin-top: 12px;
  color: #fff; }

/* line 108, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-primary-0 {
  background-color: #74a611; }

/* line 109, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-primary-1 {
  background-color: #577c0c; }

/* line 110, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-primary-2 {
  background-color: #3a5308; }

/* line 111, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-primary-3 {
  background-color: #96bc4c; }

/* line 112, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-primary-4 {
  background-color: #b9d288; }

/* line 113, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-secondary-1-0 {
  background-color: #7b8073; }

/* line 114, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-secondary-1-1 {
  background-color: #5c6056; }

/* line 115, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-secondary-1-2 {
  background-color: #3d4039; }

/* line 116, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-secondary-1-3 {
  background-color: #9c9f96; }

/* line 117, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-secondary-1-4 {
  background-color: #bdbfb9; }

/* line 118, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-secondary-2-0 {
  background-color: #dd1e2f; }

/* line 119, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-secondary-2-1 {
  background-color: #a51623; }

/* line 120, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-secondary-2-2 {
  background-color: #6e0f17; }

/* line 121, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-secondary-2-3 {
  background-color: #e55663; }

/* line 122, /var/www/html/mvc/app/site/codex/sass/_misc.scss */
.color-secondary-2-4 {
  background-color: #ee8e97; }

/*# sourceMappingURL=common.css.map */