/* line 5, /var/www/html/mvc/app/site/claire/sass/email.scss */
.color-primary {
  color: #ca3566; }

/* line 9, /var/www/html/mvc/app/site/claire/sass/email.scss */
.color-secondary {
  color: #E5673C; }

/* line 13, /var/www/html/mvc/app/site/claire/sass/email.scss */
.color-tertiary {
  color: #2A9F67; }

/* line 17, /var/www/html/mvc/app/site/claire/sass/email.scss */
.color-gray-30 {
  color: #E5673C; }

/* line 21, /var/www/html/mvc/app/site/claire/sass/email.scss */
.color-text {
  color: #E5673C; }

/* line 25, /var/www/html/mvc/app/site/claire/sass/email.scss */
.no-spacing {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

/* line 29, /var/www/html/mvc/app/site/claire/sass/email.scss */
.padding {
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px; }

/* line 36, /var/www/html/mvc/app/site/claire/sass/email.scss */
.footer-p {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  font-size: 12px; }

/* line 40, /var/www/html/mvc/app/site/claire/sass/email.scss */
.a {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #ca3566;
  text-decoration: underline; }

/* line 44, /var/www/html/mvc/app/site/claire/sass/email.scss */
.a-small {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #ca3566;
  text-decoration: underline;
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold; }

/* line 50, /var/www/html/mvc/app/site/claire/sass/email.scss */
.h1 {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  line-height: 1.5;
  margin-top: 21px;
  margin-bottom: 14px;
  font-size: 28px; }

/* line 55, /var/www/html/mvc/app/site/claire/sass/email.scss */
.h2 {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  line-height: 1.5;
  margin-top: 21px;
  margin-bottom: 14px;
  font-size: 21px; }

/* line 60, /var/www/html/mvc/app/site/claire/sass/email.scss */
.h3 {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  line-height: 1.5;
  margin-top: 21px;
  margin-bottom: 14px;
  font-size: 16.38px; }

/* line 65, /var/www/html/mvc/app/site/claire/sass/email.scss */
.h4 {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  line-height: 1.5;
  margin-top: 21px;
  margin-bottom: 14px;
  font-size: 14px; }

/* line 70, /var/www/html/mvc/app/site/claire/sass/email.scss */
.h5 {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  line-height: 1.5;
  margin-top: 21px;
  margin-bottom: 14px;
  font-size: 11.62px; }

/* line 75, /var/www/html/mvc/app/site/claire/sass/email.scss */
.h6 {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  line-height: 1.5;
  margin-top: 21px;
  margin-bottom: 14px;
  font-size: 10.5px; }

/* line 80, /var/www/html/mvc/app/site/claire/sass/email.scss */
.p {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  margin-top: 14px;
  margin-right: 0;
  margin-bottom: 14px;
  margin-left: 0; }

/* line 88, /var/www/html/mvc/app/site/claire/sass/email.scss */
.ul {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  margin-top: 14px;
  margin-right: 0;
  margin-bottom: 14px;
  margin-left: 0;
  padding-left: 42px; }

/* line 97, /var/www/html/mvc/app/site/claire/sass/email.scss */
.li {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  margin-top: 7px;
  margin-right: 0;
  margin-bottom: 7px;
  margin-left: 0; }

/* line 105, /var/www/html/mvc/app/site/claire/sass/email.scss */
.background-table {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  line-height: 100%; }

/* line 111, /var/www/html/mvc/app/site/claire/sass/email.scss */
.table {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt; }

/* line 115, /var/www/html/mvc/app/site/claire/sass/email.scss */
.table-spaced {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  margin-top: 14px;
  margin-bottom: 14px; }

/* line 121, /var/www/html/mvc/app/site/claire/sass/email.scss */
.td {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  border: 1px solid #E5673C;
  padding: 7px;
  vertical-align: top; }

/* line 125, /var/www/html/mvc/app/site/claire/sass/email.scss */
.th {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  border: 1px solid #E5673C;
  padding: 7px;
  vertical-align: top;
  font-weight: bold; }

/* line 130, /var/www/html/mvc/app/site/claire/sass/email.scss */
.body {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #fff;
  border-color: #fff;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 139, /var/www/html/mvc/app/site/claire/sass/email.scss */
.img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: none; }

/* line 143, /var/www/html/mvc/app/site/claire/sass/email.scss */
.img-block {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: none;
  display: block; }

/* line 148, /var/www/html/mvc/app/site/claire/sass/email.scss */
.message {
  background-color: #E5673C;
  padding: 14px;
  border: 1px solid #E5673C;
  display: block; }

/* line 155, /var/www/html/mvc/app/site/claire/sass/email.scss */
.typography-small {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif;
  font-size: 12px; }

/* line 159, /var/www/html/mvc/app/site/claire/sass/email.scss */
.typography {
  font-size: 14px;
  line-height: 21px;
  color: #E5673C;
  font-family: arial, sans-serif; }

/*# sourceMappingURL=email.css.map */