.container-footer {
    border-top: 1px solid $color-primary-4;
	padding: 5%;
}

.footer-inner {
  margin: 0 auto;
  max-width: 900px;
	@include clearfix;
	// @include siteBoundary;
}

.attribution {
    display: block;
    text-align: right;
    font-style: italic;
    color: #ccc;
    padding: 10px 0;
}

.footer-menu-link {
    float: left;

	@media only screen and (max-width: 499px) {
		clear: both;
		margin: 1em 0;
		line-height: 1;
		@extend .a;
	}

	@media only screen and (min-width: 500px) {
	    margin: 0 2em 2em 0;
	}
}

.footer-profile-avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 100%;
      margin: 0 auto;
  margin-bottom: 2em;

  @media only screen and (min-width: 400px) {
      position: absolute;
    top: 0;
    left: 0;
  }
}

.footer-profile-avatar-image {
    width: 100%;
    height: 100%;
}

.footer-profile {
  @include clearfix;
  margin-bottom: 1em;
    position: relative;
    min-height: 140px;
    
  @media only screen and (min-width: 400px) {
    padding-left: 170px;
  }

  @media only screen and (min-width: 700px) {
    float: left;
    width: 58%;
  }
}

.footer-menu {
  @include clearfix;
}

.footer-profile {

}

.footer-contact {

  @media only screen and (min-width: 700px) {

    float: right;
    width: 32%;
  }
}

.footer-profile-greeting {
  @extend .h2;
  margin-top: 0;
}