.container-footer {
    border-top: 1px dotted #ccc;
    padding-bottom: 20%;
}

.footer-inner {
	padding-left: 5%;
	padding-right: 5%;
	@include clearfix;
	// @include siteBoundary;
}

.attribution {
    display: block;
    text-align: right;
    font-style: italic;
    color: #ccc;
    padding: 10px 0;
}

.footer-menu-link {
    float: left;

	@media only screen and (max-width: 499px) {
		clear: both;
		margin: 1em 0;
		line-height: 1;
		@extend .a;
	}

	@media only screen and (min-width: 500px) {
	    margin: 0 2em 2em 0;
	}
}
