.panel-heading {
    @extend .h2;
    color: #ccc;
    font-weight: 100;
    font-size: 2em;
    margin: 1em 0 .5em;
}

.panel-description {
    @extend .p;
}

.panel {
	@include clearfix;
	padding-bottom: 20px;
}
