.menu-hamburger {
    cursor: pointer;
    @include transition(all 200ms ease);
    display: block;
    position: relative;
    width: 25px;
    float: right;
    padding: 9px 0;
    margin: 23px;

    .menu-hamburger-meat,
    &:before,
    &:after {
        @include transition(all 300ms ease);
        @include transform-origin(center center);
        height: 2px;
        background-color: $color-primary-0;
    }
        
    .menu-hamburger-meat {
        display: block;
    }

    &:before,
    &:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }

    @media only screen and (min-width: 600px) {
        margin: 24px 24px;
    }
}

.menu-primary-is-active .menu-hamburger {
    
    .menu-hamburger-meat {
        opacity: 0;
    }

    &:before,
    &:after {
        opacity: 1;
    }

    &:before {
        @include transform(rotate(45deg));
        top: 9px;
    }

    &:after {
        @include transform(rotate(-45deg));
        bottom: 9px;
    }
}
