$color-primary-0: #2FADDD;
$color-primary-1: shade($color-primary-0, 25%);
$color-primary-2: shade($color-primary-0, 50%);
$color-primary-3: tint($color-primary-0, 25%);
$color-primary-4: tint($color-primary-0, 50%);

$color-secondary-1-0: #FF522E;
$color-secondary-1-1: shade($color-secondary-1-0, 25%);
$color-secondary-1-2: shade($color-secondary-1-0, 50%);
$color-secondary-1-3: tint($color-secondary-1-0, 25%);
$color-secondary-1-4: tint($color-secondary-1-0, 50%);

$color-secondary-2-0: #FFC32E;
$color-secondary-2-1: shade($color-secondary-2-0, 25%);
$color-secondary-2-2: shade($color-secondary-2-0, 50%);
$color-secondary-2-3: tint($color-secondary-2-0, 25%);
$color-secondary-2-4: tint($color-secondary-2-0, 50%);
