.projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.project {
	width: 200px;
	height: 200px;
	border-radius: 5px;
	background-color: $color-gray-20;
	flex-grow: 1;
	margin: 2%;
    position: relative;
    overflow: hidden;
}

.project-description {
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
}

.project-logo {
    display: block;
	height: 140px;
	padding: 10%;
}

.project-logo-image {
    width: auto;
    height: auto;
}
