.projects {
    @include row;
}

.project {
    @include transition(all 200ms);
    background-color: $color-primary-0;
    position: relative;
    overflow: hidden;
    display: block;
    float: left;

    &:hover {
        @include transform(scale(.95));
    }

    &:active {
        @include transform(scale(.90));
    }

    &.is-audio-visual-online {
        @include linear-gradient(tint(#74a611, 10%), #74a611);
    }

    &.is-elttl {
        @include linear-gradient(tint(#F07818, 10%), #F07818);
    }

    &.is-claire {
        @include linear-gradient(tint(#ca3566, 10%), #ca3566);
    }

    &.is-brunoco {
        @include linear-gradient(tint(#0b93fe, 10%), #0b93fe);
    }

    &.is-fisual {
        @include linear-gradient(tint(#cc2a15, 10%), #cc2a15);
    }

    &.is-av-distribution {
        @include linear-gradient(shade(#74a611, 20%), shade(#74a611, 30%));
    }

    &.is-get-hd-sound {
        @include linear-gradient(tint(#795934, 10%), #795934);
    }

    &.is-simply-stands {
        @include linear-gradient(tint(#333333, 10%), #333333);
    }

    @media only screen and (max-width: 699px) {
        height: 200px;
        width: 100%;
    }

    @media only screen and (max-width: 399px) {
        height: 160px;
    }

    @media only screen and (min-width: 400px) and (max-width: 699px) {
        width: 50%;
    }

    @media only screen and (min-width: 700px) {
        width: 33.3%;
        height: 250px;
    }
}

.project-description {
    @include transition(bottom 200ms);
    @include clearfix;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(#fff, .1);
    color: #fff;
    padding: 9px 10px 10px;
    bottom: 0;
}

.project-logo {
    fill: #fff;
    display: block;
    padding: 5%;
    margin: 0 auto;
    padding: 20px;

    @media only screen and (max-width: 399px) {
        height: 120px;
    }

    @media only screen and (min-width: 400px) and (max-width: 699px) {
        height: 160px;
    }

    @media only screen and (min-width: 700px) {
        height: 210px;
    }
}

.project-logo-image {
    width: auto;
    height: auto;
}

.project-title {
    font-weight: 600;
    display: block;
    float: left;
}

.project-button-primary {
    @include link(#fff);
    font-weight: 600;
    border-width: 2px;
    font-size: 14px;
    float: right;
}
