.projects {
    @extend .clearfix;
}
.svg-elttl-county {
    @include opacity(.2);
}
.project {
    @extend .clearfix;
    // background-color: $color-gray-50;
    height: 12em;
    margin: 4% 0;
    border-radius: 5px;
    padding: 4%;
    color: $color-white;
    position: relative;
    display: block;

    &:hover .project-button-more {
        border-bottom-color: $color-white;
    }

    svg {
        fill: $color-white;
    }
}
.project-name,
.project-url,
.project-description,
.project-display {
    display: none;
}
// .project-url a {
//     color: $color-white;
//     border-bottom: 1px solid $color-white;
// }
.project-button-more {
    float: right;
}
@include breakpoint(550px) {
    .project {
        float: left;
        width: 46%;
        margin: 2%;
    }
    .projects {
        margin: 3% 0;
    }
}
.is-claire {
    background-color: $color-claire;
}
.is-elttl {
    background-color: $color-elttl;

    svg {
        width: 74%;
    }
}
.is-spectral {
    background-color: $color-spectral;
}
.is-avo {
    background-color: $color-avo;
}
.project-logo {
    text-align: center;
    display: block;
    text-align: center;
}
.project-button-more {
    position: absolute;
    bottom: 8%;
    right: 5%;
    color: #F1F1F1;
    font-weight: 100;
    font-size: 1em;
    border-bottom: 1px solid transparent;
    transition: 200ms ease;

    &:hover {
        color: $color-white;
    }
}
