.projects {
    @include row;
}

.project {
    @include transition(all 200ms);
    background-color: $color-gray-20;
    position: relative;
    overflow: hidden;
    display: block;
    float: left;

    &:hover .project-description {
        bottom: 0;
    }

    &.is-audio-visual-online {
        @include linear-gradient(tint(#74a611, 10%), #74a611);
    }

    &.is-elttl {
        @include linear-gradient(tint(#F07818, 10%), #F07818);
    }

    &.is-brunoco {
        @include linear-gradient(tint(#0b93fe, 10%), #0b93fe);
    }

    &.is-get-hd-sound {
        @include linear-gradient(tint(#795934, 10%), #795934);
    }

    &.is-simply-stands {
        @include linear-gradient(tint(#333333, 10%), #333333);
    }

    @media only screen and (max-width: 699px) {
        height: 200px;
    }

    @media only screen and (max-width: 399px) {
        height: 160px;
    }

    @media only screen and (min-width: 400px) and (max-width: 699px) {
        width: 50%;
    }

    @media only screen and (min-width: 700px) {
        width: 33.3%;
        height: 250px;
    }
}

.touch .project-description {
    bottom: 0;
}

.no-touch .project {

    &:active {
        opacity: .8;
    }
}

.project-description {
    @include transition(bottom 200ms);
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 75px;
    background-color: rgba($color-white, .1);
    box-shadow: 0 0 3px rgba($color-black, .1);
    color: $color-white;
}

.project-logo {
    fill: $color-white;
    display: block;
    padding: 5%;
    margin: 0 auto;
    padding: 20px;

    @media only screen and (max-width: 599px) {
        height: 106px;
    }

    @media only screen and (min-width: 600px) and (max-width: 699px) {
        height: 146px;
    }

    @media only screen and (min-width: 700px) {
        height: 174px;
    }
}


.no-touch .project-logo {

    @media only screen and (max-width: 599px) {
        height: 106px + 50px;
    }

    @media only screen and (min-width: 600px) and (max-width: 699px) {
        height: 146px + 50px;
    }

    @media only screen and (min-width: 700px) {
        height: 174px + 50px;
    }
}

.project-logo-image {
    width: auto;
    height: auto;
}

.project-title {
    font-weight: 600;
    display: block;
}

.project-button-primary {
    @include button($color-primary-0, $color-white);
    position: absolute;
    bottom: 12px;
    right: 12px;
}
