.to-top {
    @include transition(bottom 200ms);
    position: fixed;
    bottom: -50px;
    right: 1em;
    width: 44px;
    height: 44px;
    z-index: 1;
    background-color: $color-primary-0;
    padding: 12px 11px;
    border-radius: 5px;
    fill: $color-white;

    &:hover {
        background-color: lighten($color-primary-0, 10%);
    }

    &.is-active {
        bottom: 1em;
    }

    svg {
        width: 20px;
        height: 20px;
        position: relative;
        top: -2px;
        left: 1px;
    }
}

.to-top-image {
    width: 100%;
    height: auto;
}
