.page.player-single,
.page.team-single {

    .fixtures {
        @include clearfix;
        @extend .block-margins;
    }

    .fixture {
        @include clearfix;
        border: 1px solid;
        margin: 1em 0;
        display: block;
        padding: .6em;
        border-radius: 2px;
        @extend .a;

        @media all and (min-width: 400px) {
            float: left;
        }

        @media all and (min-width: 400px) and (max-width: 699px) {
            width: 47%;
            margin-right: 2%;

            &:nth-child(2n) {
                float: right;
                margin-right: 0;
            }
        }

        @media all and (min-width: 700px) {
            width: 30%;
            margin-right: 5%;
            padding: 1em;

            &:nth-child(3n) {
                float: right;
                margin-right: 0;
            }
        }
    }

    .fixture-score-left {
        clear: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;
    }

    .fixture [class^="fixture-"] {
        float: left;
    }

    .fixture [class^="fixture-score"] {
        width: 20%;
        text-align: right;
        float: right;
    }

    .fixture [class^="fixture-team"] {
        clear: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;
    }
}
