.elttl-table {
    margin: 1em 0;
    width: 100%;
    table-layout: fixed;
    background: rgba(255, 255, 255, 0.5);
}

.elttl-table-row {
    @include transition(all 200ms ease);

    &:hover {
    	background-color: rgba(0, 0, 0, 0.03);
    }
}

.elttl-table-headings {

	&:hover {
		background-color: inherit;
	}
}

.elttl-table-cell {
    padding: 0.4em;
    border: 1px solid rgba(0, 0, 0, 0.03);
    
    @media all and (min-width: 400px) {
		padding: .6em;
	}

    @media all and (min-width: 600px) {
		padding: 1em;
	}

    @media all and (min-width: 800px) {
		padding: 1.5em;
	}

    a {
    	@extend .a;
    	line-height: 1.5;
    }
}

.elttl-table-cell {

	// player
	&.is-rank,
	&.is-average,

	// team
	&.is-won,
	&.is-draw,
	&.is-loss,
	&.is-played,
	&.is-points {
		display: none;
		text-align: center;
	}

	&.is-team {
		display: none;
	}

	&.is-average,
	&.is-points {
		display: table-cell;
	}

    @media all and (min-width: 400px) {

		&.is-played {
			display: table-cell;
		}
	}

    @media all and (min-width: 600px) {

		&.is-rank,
		&.is-won {
			display: table-cell;
		}
	}

    @media all and (min-width: 700px) {

		&.is-loss {
			display: table-cell;
		}

		&.is-name {
		    width: 30%;
		}
	}

    @media all and (min-width: 800px) {

		&.is-team,
		&.is-draw {
			display: table-cell;
		}

		&.is-team {
		    width: 20%;
		}
	}
}

.is-encounter .encounter-rank-change {
    border-radius: 2px;
    background: $color-secondary-1-1;
    color: #fff;
    line-height: 1.9;
    text-align: center;
    font-weight: 400;
    font-size: 0.8em;
    display: block;
    padding: 0 0.7em;
    margin: 0 0 0.5em;
    clear: both;

    @media all and (min-width: 800px) {
    	clear: none;
	    margin: 2px 0 0 0.8em;
	    float: right;
	    min-width: 3em;
	}
}

.is-encounter .elttl-table-cell {
    position: relative;
	width: 20%;
	word-wrap: break-word;

	&.is-score {
	    text-align: center;
		width: 15%;
	}

	&.is-score-total {
	    text-align: center;
	    font-weight: 600;
	    @extend .text-size-larger;
	}
}

.elttl-table-heading {
	background-color: rgba(0, 0, 0, 0.03);
}

.is-general .elttl-table-heading {
	text-align: left;
	width: 30%;
}
