.container-footer .form-search-query {
    width: 58%;
    float: left;
}

.container-footer .form-search-submit {
    float: right;
    padding: 6px 0;
    width: 28%;
    text-align: center;
}

.container-footer .form-search {
    @include clearfix;
}

.container-footer {
    @include dont-print;
    background-color: $color-primary-4;
}

.footer-social {
    width: 3em;
    height: 3em;
    float: left;
    fill: $color-secondary-1-0;
    margin-right: 7px;

    &:active {
        opacity: .5;
    }
}

.footer-socials {
    @include clearfix;
    @extend .block-margins;
    margin-top: 0;
}

.footer-main {
    display: none;
}

.menu-secondary {
    margin-bottom: 2em;
    border-radius: 2px;
    overflow: hidden;

    @media all and (min-width: 650px) {
        float: right;
        margin-left: 5%;
        width: 25%;
    }

    @media all and (min-width: 950px) {
        float: left;
        margin: 0 5% 0 0;
        width: 22%;
    }
}

.menu-secondary-item {
    @extend .text-ellipsis;
    display: block;
    color: $color-primary-1;
    border-color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1em;

    &:first-child {
        border-top: none;
    }
}

.footer-address {
    margin-bottom: 2em;
    line-height: 1.5;
    color: #fff;

    @media all and (min-width: 650px) {
        float: left;
        width: 40%;
    }

    @media all and (min-width: 950px) {
        width: 20%;
        margin-right: 5%;
    }
}

.footer-address a {
    @extend .a;
    color: #fff;
    border-color: #fff;
    font-weight: 600;
}

.logo-table-tennis-england {
    display: block;
    background-color: #fff;
    text-align: center;
    padding: 1em;
    overflow: hidden;
    border-radius: 2px;

    @media all and (min-width: 650px) {
        float: left;
        width: 30%;
    }

    @media all and (min-width: 950px) {
        width: 20%;
        margin: 0;
        float: right;
    }
}

.logo-table-tennis-england-image {
    max-width: 100%;
    height: auto;
}

.container-footer-inner {
    @include clearfix;
    max-width: 90em;
    margin: 0 auto;
    padding-top: 3em;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3em;

    @media all and (min-width: 650px) {
        padding-left: 5%;
        padding-right: 5%;
    }
}
