.pagination-text {
    display: none;
}

.pagination-summary {
    text-align: center;
    color: $color-gray-50;
    line-height: 2;
}

.pagination {
    margin: 1em 0;

    a.pagination-page {
        display: none;
        border: 1px solid $color-primary-0;
        margin-right: 0.6em;
        margin-bottom: 0.6em;
        font-family: Arial, sans-serif;
        font-size: 1em;
        float: left;
        text-align: center;
        width: 13%;
        line-height: 1.6; 
    }

    a.is-current {
        cursor: default;
        color: $color-secondary-1-0;
        border-color: $color-secondary-1-0;
        background: transparent;
    }
}

a.pagination-next,
a.pagination-previous {
    width: 3em;
    height: 3em;
    padding: 1em;
    fill: $color-secondary-1-0;

    &.is-disabled {
        fill: $color-gray-20;
    }
}

.pagination-previous {
    float: left;
    @include transform(rotate(180deg));
}

.pagination-next {
    float: right;
    text-align: right;
}

.pagination-title {
    display: none;
}

@include breakpoint(600px) {

    a.pagination-next,
    a.pagination-previous {
        width: 15%;
    }
}
