/**
 * core include for front and admin
 */


/**
 * charset
 */
@charset "utf-8";


/**
 * variables
 */
@import "palette";
$typography-color-body: $color-secondary-3-0;
$typography-font-family: 'Open Sans', 'Arial', 'Sans-serif';
$heading-font-family: $typography-font-family;


/**
 * vendor libraries
 */
@import "../../../sass/vendor/normalize";
@import "../../../sass/vendor/bourbon/bourbon";
@import "../../../sass/vendor/magnific-popup";


/**
 * global libraries
 */
@import "../../../sass/placeholder";


/**
 * variables and mixins
 */
@import "../../../sass/typography";
@import "../../../sass/mixin";
@import "keyframe";
@import "magnific-popup";


/**
 * admin / front settings
 */
@import "../../../sass/reusable";
@import "form";
