::-webkit-input-placeholder {
   color: $color-gray-30; 
}

:-moz-placeholder { /* Firefox 18- */
   color: $color-gray-30;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $color-gray-30;  
} 
 
:-ms-input-placeholder {  
   color: $color-gray-30;  
}

.input-reset {
    font-size: 1em;
}

input[type="submit"] {
	display: none;
}

%table-all {
    @include transition(all 200ms);
    width: 100%;
    table-layout: fixed;

	tr:hover {
		background-color: rgba($color-gray-50, .1);
	}

	th {
	    text-align: left;
		background-color: rgba($color-gray-50, .1);
	}

	td {
		border: 1px solid green;
	}

	td, th {
		@extend .text-ellipsis;
	    padding: 5px 11px;
	    border: 1px solid rgba($color-gray-50, .1)
	}
}
