::-webkit-input-placeholder {
   color: $color-gray-30; 
}

:-moz-placeholder { /* Firefox 18- */
   color: $color-gray-30;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $color-gray-30;  
} 
 
:-ms-input-placeholder {  
   color: $color-gray-30;  
}

.input-reset {
    font-size: 1em;
}

.table {
    width: 100%;
    table-layout: fixed;
}

input[type="submit"] {
	display: none;
}
