header.main { 
    box-shadow: 0 0 3px rgba($color-black, .2);
    height: 44px;
}

header.main.is-fixed-top {
    background-color: $color-white;
    z-index: 2;
}

header.main.is-fixed-top + .content {
    padding-top: 111px;
}

.inner-title-nav-user {
    @include clearfix;
}

.header-site-title {
    float: left;
    margin-right: 1em;
    white-space: nowrap;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    padding: 10px;
}

.nav-main-container {
    float: left;
}

.nav-user.nav-main-level1 {
    float: right;
    margin: 0;
}

.nav-user-name {
    display: block;
    padding: 10px 10px 10px 50px;
}

.nav-user.nav-main-level1 .nav-user-drop {
    right: 0;
    left: auto;
}

.nav-main-level1 {
    position: relative;

    &:hover .nav-main-level1-drop {
        @include animation(fadeInDown 200ms ease both); 
    	display: block;
    }
}

.nav-main-level1-drop {
    box-shadow: 0 0 3px rgba($color-black, .4);
    background: $color-white;
    display: none;
    position: absolute;
    min-width: 9em;
    // border: 1px solid $color-gray-10;
    top: 43px;
    padding: 8px 0;
}

.nav-main-level2-link {
    display: block;
    padding: 8px 10px;
    border-top: 1px dotted $color-gray-10;

    &:hover {
        background: $color-gray-10;
    }

    &:first-child {
        border: 0;
    }
}

.nav-user-gravatar {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 13px;
}

.nav-user-gravatar-image {
    position: relative;
    top: 0;
    left: 0;
}

.header-inner {
    padding-left: 44px;
}
