.page.login {
	margin: 0 auto;
	padding: 5em 0;
    width: 15em;

	.logo {
	    display: block;
	    text-align: center;
	    margin-left: auto;
	    margin-right: auto;
	    fill: $color-primary-0;
	    margin-bottom: 2em;
	    width: 60%;
	}

	svg {
		width: 100%;
	}

	.logo img {
	    width: 100%;
	}
}

.link-forgot-password {
    position: relative;
    top: 17px;
    @extend .a;
}

.button-login {
	float: right;
    position: relative;
    top: 17px;
    @include button;
}

.magnific-forgot-password .mfp-content {
    max-width: 20em;

    h2 {
    	@extend %primary-title;
    	@extend .h3;
    }

    .button-password-reset {
    	float: right;
    	@include button;
    	margin-top: 1em;
    }
}

.form-forgot-password {
	@include clearfix;
}
