.menu-hamburger {
    @include transition(all 200ms ease);
    display: block;
    position: relative;
    top: 3px;
    left: 0;
    padding: 9px 0;

    .menu-hamburger-meat,
    &:before,
    &:after {
        @include transition(all 300ms ease);
        @include transform-origin(center center);
        height: 2px;
        background-color: $color-primary-0;
    }
        
    .menu-hamburger-meat {
        display: block;
    }

    &:before,
    &:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}

.menu-container:hover .menu-hamburger {
    
    .menu-hamburger-meat {
        opacity: 0;
    }

    &:before,
    &:after {
        opacity: 1;
    }

    &:before {
        @include transform(rotate(45deg));
        top: 9px;
    }

    &:after {
        @include transform(rotate(-45deg));
        bottom: 9px;
    }
}

.menu-hamburger-container {
    display: block;
    position: absolute;
    top: 0;
    right: -44px;
    width: 44px;
    height: 44px;
    padding: 9px;
}
