.label-title {
	display: block;
	margin-bottom: .5em;
	font-size: 1.2em;
}

body {
	background: #fff;
	color: darken(#fff, 50%);
	font-family: $typography-font-family;
	line-height: 1.5;
}

.wrap {
	margin: 0 auto; 
}

.wrap-full-width {
	width: 860px;
	margin: 0 auto; 
}

.button.back {
	float: right;
}

.nothing-yet {
	// @include border-radius(3px);
	text-shadow: 0 1px 0 darken(#fff, 0%);
	background: darken(#fff, 2%);
	text-align: center;
	border-top: 1px solid darken(#fff, 15%);
	border-bottom: 1px solid darken(#fff, 15%);
	padding: 2em;

	p {
		color: darken(#fff, 40%);
		cursor: default;
		font-weight: 600;
		margin: 0;
	}
}

.toolbar {
	margin: 0 0 1em;
}

.toolbar .button {
	float: left;
	margin: 0 .5em .5em 0;
	font-size: .8em;
	padding: .5em 1em;
	// background: red;
}

.page {
	padding-bottom: 1em;
	padding-left: 5%;
	padding-right: 5%;
  padding-top: 97 + 20px;
}

.content.page textarea,
.content.post textarea {
	width: 100%;
	font-size: 1em;
	font-weight: 400;
}

.nav-main-container {

}

.nav-main {
	float: left;
	margin-right: 1em;
}

.page-heading {
	margin-bottom: 1em;
}

.button,
a.button {
    @include button($color-primary-0);
    color: #fff;
}

a.content-action-link {
    @extend .button;
    padding: 1px 7px;
    margin: 0 0 5px 5px;
}

.button-new {
	@include button;
	float: right;
}

.admin-block-controls {
	@include clearfix;
	@extend .block-margins;
}

.admin-button-primary {
	@include button;
}

.tennis-fixture-list {

	.table {
	    border: 1px solid;
	}

	th, td {
	    padding: 0.5em;
	    border: 1px solid;
	}
}

.ads,
.grid-test {
	@include row;
	margin-top: 2%;
}

.grid-test .main {
	@include col(6);

	@media all and (min-width: 600px) {
		@include col(8);
	}
}

.grid-test .sidebar {
	@include col(6);
	@include last;

	@media all and (min-width: 600px) {
		@include col(4);
	}
}

.ads .three {
	
	@media all and (max-width: 599px) {
		margin-top: 2%;

		&:first-child {
			margin-top: 0;
		}
	}

	@media all and (min-width: 400px) and (max-width: 599px) {
		@include col(6);

		&:nth-child(2n) {
			@include last;
		}
	}

	@media all and (min-width: 600px) {
		@include col(4);

		&:last-child {
			@include last;
		}
	}
}

#form_html {
	height: 40em;
}

.user-all-table {
	@extend %table-all;
}


/**
 * buttons
 */
.button-primary {
    @include button(#fff, $color-primary-0);
}

.button-secondary {
    @include button(#fff, $color-secondary-1-0);
}


/**
 * links
 */
.link-primary {
    @include link($color-primary-0);
}

.link-secondary {
    @include link($color-secondary-1-0);
}
