.table-crud {
	@extend .table;
}

.table-crud-input {
	@extend .input;
	border-color: #fff;
	width: 100%;
	background-color: transparent;

	&:focus,
	&:hover {
		background-color: #fff;
		border-color: $color-primary-0;
	}
}

.table-crud-select {
	@extend .select;
	width: 100%;
}

.table-crud-row {
	border-color: #fff;
	border-width: 1px;
	border-style: solid;

	&:hover {
		background-color: $color-gray-30;
	}
}

.table-crud-button-save {
    float: right;
    padding: 5px 10px;
    cursor: pointer;
}

.table-crud-button-create {
    cursor: pointer;
	float: right;
}

.table-crud-button-delete {
    float: right;
    font-size: 12px;
    padding: 7px;
    border: 1px solid;
    cursor: pointer;
    color: red;
    background-color: #fff;
}
