.pagination-summary {
  text-align: center;
  color: #ccc;
  line-height: 2;
}

.pagination {
  margin: 1em 0;
}

.pagination a.pagination-page {
  display: none;
  border: 1px solid $color-primary-0;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
  font-family: Arial, sans-serif;
  font-size: 1em;
  float: left;
  text-align: center;
  width: 13%;
  line-height: 1.6; 
}

.pagination a.is-current {
  cursor: default;
  color: $color-secondary-1-0;
  border-color: $color-secondary-1-0;
  background: transparent;
}

a.pagination-next,
a.pagination-previous {
  width: 2.5em;
  height: 2.5em;
  fill: $color-secondary-1-0;
}

a.pagination-next.is-disabled,
a.pagination-previous.is-disabled {
  fill: #ccc;
}

.pagination-previous {
  float: left;
  transform: rotate(180deg);
}

.pagination-next {
  float: right;
  text-align: right;
}

.pagination-title {
  display: none;
}

@media (min-width: 600px) {

  a.pagination-next,
  a.pagination-previous {
    width: 15%;
  }
}
