.hidden {
    display: none !important;
    visibility: hidden;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

.text-size-larger {
    font-size: 1.2em;
}

.text-size-smaller {
    font-size: .8em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
