@mixin clearfix .fixtures;
@mixin clearfix .fixture;

.fixtures {
  margin: 1em 0;
}

.fixture {
  border: 1px solid;
  display: block;
  padding: 1em;
  border-radius: $border-radius;
  color: $color-primary-0;
}

.fixture-score-left {
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.fixture [class^="fixture-"] {
  float: left;
}

.fixture [class^="fixture-score"] {
  width: 20%;
  text-align: right;
  float: right;
}

.fixture [class^="fixture-team"] {
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.fixture-container {
  padding-top: $grid-gutter;
}

@media only screen and (min-width: 500px) {

  .fixture-container {
    float: left;
    padding-right: $grid-gutter;  
  }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
  
  .fixture-container {
    width: 50%;
  }

  .fixture-container:nth-child(2n) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1023px) {
  
  .fixture-container {
    width: 33.3%;
  }

  .fixture-container:nth-child(3n) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 1024px) {
  
  .fixture-container {
    width: 25%;
  }

  .fixture-container:nth-child(4n) {
    padding-right: 0;
  }
}
