.content.element .medium {
    display: none;
}

.contents {
    @extend .clearfix;
}

.content-status,
.content.element .content-html {
    display: none;
}

.content-title {
    @extend .h2;
    margin-top: 0;
}

.content-thumb-background {
    display: none;
    background-size: cover;
    height: 13em;
    margin-bottom: 1em;
    @extend .animated;
    @extend .fadeIn;
}

.content.element .tags {
    display: none;
}

.tags {
    margin: 1em 0;
}

a.tag {
    font-size: 0.9em;
    margin-right: 15px;
    margin-bottom: 15px;
    color: $color-secondary-1-0;
    padding: 0 0 3px;
    float: left;
    line-height: 1.1;
    border-bottom: 1px solid $color-gray-10;
}

.content.element {
    position: relative;
    padding: 1em 0;
}

.content-author {
    display: none;
    font-size: 0.9em;
    float: right;
}

.content-link {
    @extend .a;
}
