.cover {
	@include clearfix;
    display: block;
    background-color: $color-primary-0;
    padding: 1em;
}

.cover-primary-title {
    @extend .h1;
    margin-top: 0;
    line-height: 1.1;
    font-weight: 600;
    color: white;
}

.cover-description {
    @extend .p;
}

.banner-primary {
    @extend .block-margins;
}

.cover-button {
	@include button('ghost');
    float: right;
}
