.container-footer .form-search-query {
    width: 58%;
    float: left;
}

.container-footer .form-search-submit {
    float: right;
    padding: 6px 0;
    width: 28%;
    text-align: center;
}

.container-footer .form-search {
    @include clearfix;
}

.container-footer {
    background-color: $color-primary-4;
}

.footer-social {
    width: 3em;
    height: 3em;
    float: left;
    fill: $color-secondary-1-0;
    margin-right: 7px;

    &:active {
        opacity: .5;
    }
}

.footer-socials {
    @include clearfix;
    @extend .block-margins;
    margin-top: 0;
}

.container-footer-inner {
    @include clearfix;
    padding: 10%;
}

.footer-main {
    display: none;
}

.menu-secondary {
    margin-bottom: 1em;

    @media only screen and (min-width: 400px) {
        @include clearfix;
    }
}

.menu-secondary-item {
    display: block;
    color: $color-primary-1;
    border-color: rgba(255, 255, 255, 0.2);

    &:first-child {
        border-top: none;
    }

    @media only screen and (max-width: 399px) {
        border-top: 1px solid;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 1em;
    }

    @media only screen and (min-width: 400px) {
        border-color: $color-primary-1;
        @extend .a;
        float: left;
        margin: 0 1em 0.6em 0;
        line-height: 1.5;
    }
}

.footer-address {
    margin: 2em 0 0;
    line-height: 1.5;
    color: $color-white;
}

.footer-address a {
    @extend .a;
    margin-bottom: 1em;
}
