.container-footer .form-search-query {
    width: 58%;
    float: left;
}

.container-footer .form-search-submit {
    float: right;
    padding: 6px 0;
    width: 28%;
    text-align: center;
}

.container-footer .form-search {
    @include clearfix;
}

.container-footer {

    .propos-portrait {
        width: 30%;
    }

    img {
        width: 100%;
    }
}

.container-footer .propos {
    margin: 0 0 1em;
    padding: 0 0 0 36%;
    position: relative;

    .propos-title {}

    .propos-description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .propos-button.button.primary {}
}

.container-footer .menu {
    @extend .block-margins;
    margin-bottom: 0;

    .menu-item {
        @include transition(all 200ms ease);
        display: block;
        text-align: center;
        padding: 1em;
        background-color: $color-secondary-2-0;
        color: $color-white;

        &:active {
            opacity: .5;
        }
    }
    
    .menu-item:first-child {
        border: 0;
    }
}

.container-footer {

    .calling-card {
        margin: 1em 0;
    }

    .calling-card-portrait {
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
        width: 9em;
        border-radius: 99em;
        overflow: hidden;
        height: 9em;
    }

    .calling-card-content-title {
        font-size: 1.3em;
    }

    .calling-card-content-button.button.primary {
        float: left;
    }

    .calling-card-content-description {
        margin-bottom: 1em;
    }
}

.footer-social {
    width: 3em;
    height: 3em;
    float: left;
    fill: $color-secondary-1-0;
    margin-right: 7px;

    &:active {
        opacity: .5;
    }
}

.footer-socials {
    @include clearfix;
    @extend .block-margins;
    margin-top: 0;
}

.container-footer-inner {
    @include clearfix;
    padding: 5%;
}

.container-footer {
    // border-top: 1px solid $color-senary;
}

@include breakpoint(600) {
    
    .container-footer .menu {
        margin: 1em 0;
        float: left;
        clear: left;
    }

    .container-footer .menu .menu-item {
        float: left;
        background-color: transparent;
        color: $color-primary-0;
        margin-right: 2em;
        padding: 0;
    }

    .container-footer .form-search {
        float: right;
        width: 50%;
    }

    .footer-socials {
        float: left;
        width: 50%;
    }
}

@include breakpoint(1300) {

    .container-footer {
        background: image-url('bordeaux-right.png') bottom right no-repeat;
        min-height: 30em;
    }
}

.footer-main {
    display: none;
}
