.home-press-heading-text {
	@extend .h1;
}

.home-button-all-posts {
	@extend .a;
	@extend .text-size-smaller;
	float: right;
}

.home-press-heading {
	@include clearfix;
}

.banner-primary {

	@media only screen and (min-width: 700px) {
		float: left;
		width: 45%;
	}
}

.home-press {
	
	@media only screen and (min-width: 700px) {
		float: right;
		width: 45%;
	}
}

.banner-and-press {
	@include clearfix;
}

.gallery {
    @extend .block-clear;    
}

.gallery-link {
    border-radius: 2px;
    display: block;
    margin: 1em;
    overflow: hidden;

    &:hover .gallery-image {
        @include transform(scale(1.2));
    }
}

.gallery-image {
    @include transition(all 5s ease);
    max-width: 100%;
    height: auto;
}
