html {
    background-color: $color-secondary-1-4;
}

body {

    @include breakpoint(1200) {
        background-image: image-url('bg.gif');
        background-position: 50% 0;
        background-repeat: no-repeat;
    }
}

.to-top {
    border: 1px solid $color-white;
    @include transition(all 200ms ease);
    position: fixed;
    bottom: 1em;
    z-index: 1;
    fill: $color-white;
    right: -4em;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    background-color: $color-secondary-2-0;
    border-radius: 99em;

    &:active {
        bottom: .5em;
        opacity: .8;
    }

    &.is-active {
        display: block;
        right: 1em;
    }
}

.core-h1 {
    text-shadow: 1px 1px $color-primary-4;
    text-align: center;
    padding: 0.3em;
    background-color: $color-primary-0;
    color: $color-white;
    border-bottom: 1px solid $color-secondary-1-0;
    font-size: 1.4em;
    margin-bottom: 1em;
}

.search-result-description {
    @extend .h4;
    margin-bottom: 1em;
}

.page {
    background-color: $color-white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 55px;
    padding-bottom: 60px;
}

.container-header-inner {
    @include clearfix;
}

.button-base {
    padding: 12px 14px;
    background-color: $color-gray-50;
    color: $color-white;
}

.button-primary {
    @extend .button-base;
    background-color: $color-primary-0;
}

.button-secondary {
    @extend .button-base;
    background-color: $color-secondary-1-0;
}
