.content-date {
    color: $color-quinary;
}

.content.element .medium {
    display: none;
}

.contents {
    @include clearfix;
}

.content-status,
.content.element .content-html {
    display: none;
}

.content-title {
    font-size: 32px;
    font-weight: 100;
    line-height: 1.2;
    margin: 0;
}

.content-thumb-background {
    background-size: cover;
    height: 13em;
    margin-bottom: 1em;
    @extend .animated;
    @extend .fadeIn;
}

.content.element .tags {
    display: none;
}

.tags {
    margin: 1em 0;
}

a.tag {
    font-size: 0.9em;
    margin-right: 15px;
    margin-bottom: 15px;
    color: $color-secondary;
    padding: 0 0 3px;
    float: left;
    line-height: 1.1;
    border-bottom: 1px solid $color-gray-10;
}

.content.element {
    position: relative;
    padding: 1em 0;
}

.content-author {
    font-size: 0.9em;
    float: right;
}

.content-html-snippet {
    display: none;
    margin-top: 1em;
}

a.content-html-snippet-more {
    float: right;
    @include button(#fff, $color-secondary);
}
