@charset "utf-8";
$font-family: 'Open Sans', 'Sans-serif';
$heading-font-family: $font-family;
$heading-font-weight: 600;
@import "palette";
@import "../../../../sass/vendor/normalize";
@import "../../../../sass/vendor/magnific-popup";
@import "../../../../sass/vendor/bourbon/bourbon";
@import "mixin";
@import "reusable";
@import "typography";
@import "form";
