@mixin clearfix .cover;

.cover {
  display: block;
  background-color: $color-primary-0;
  padding: 1em;
  border-radius: $border-radius;
  background-image: url('glow.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  min-height: 260px;
}

@media only screen and (min-width: 700px) {
  
  .cover {
    min-height: 285px;
  }
}

.owl-item:nth-child(2n) .cover {
  background-color: $color-secondary-1-0;
}

.owl-item:nth-child(3n) .cover {
  background-color: $color-secondary-2-0;
}

.cover-primary-title {
  margin-top: 0;
  line-height: 1.1;
  font-weight: 600;
  color: #fff;
  font-size: 32px;
  line-height: 1.3;
}

.cover-description {
  color: #fff;
  margin: 1em 0;
  line-height: 1.5;
}

.cover-button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-weight: 600;
}

.owl-theme .owl-controls .owl-page span {
  background-color: $color-primary-0;
}

.cover-image {
  position: absolute;
  bottom: -7em;
  left: 50%;
  margin-left: -256.5px;
  z-index: 0;
}
