@charset "utf-8";
$font-family: 'Open Sans', 'Sans-serif';
$heading-font-family: $font-family;
$heading-font-weight: 600;
@import "palette";
@import "mixin";
@import "vendor/normalize";
@import "vendor/bourbon/bourbon";
@import "vendor/animate";
@import "reusable";
@import "typography";
@import "form";
@import "user-interface";
