.content-date {
    color: $color-quinary;
}

.content.element .medium {
    display: none;
}

.contents {
    @extend .clearfix;
}

.content-status,
.content.element .content-html {
    display: none;
}

.content-title {
    margin-bottom: .5em;
    font-size: 1.6em;
}

.content-thumb-background {
    background-size: cover;
    height: 13em;
    margin-bottom: 1em;
    @extend .animated;
    @extend .fadeIn;
}

.tags {
    margin: 1em 0;
}

a.tag {
    margin-right: 15px;
    margin-bottom: 15px;
    color: $color-secondary;
    padding: 0 0 3px;
    float: left;
    line-height: 1.1;
    border-bottom: 1px solid $color-gray-10;
    font-size: 13px;
}

.content.element {
    position: relative;
    border: 1px solid;
    padding: 1em;
}

.content-author {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 0.7em;
    display: none;
}

@include breakpoint(600) {

    .content.element {
        float: left;
        width: 35%;
        padding: 5%;
    }
}

@include breakpoint(900) {

    .content.element {
        padding: 3%;
        width: 27%;
    }
}

.content-single .content-date {
    display: none;
}

.content-single.is-type-post .content-date {
    display: block;
    text-align: right;
}
