.container-footer {

    .propos-portrait {
        width: 30%;
    }

    img {
        width: 100%;
    }
}

.container-footer .propos {
    margin: 0 0 1em;
    padding: 0 0 0 36%;
    position: relative;

    .propos-title {}

    .propos-description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .propos-button.button.primary {}
}

.container-footer .menu {
    @extend .block-margins;
    margin-bottom: 0;

    .menu-item {
        @include transition(all 200ms ease);
        display: block;
        text-align: center;
        padding: 1em;
        background-color: $color-primary;
        color: $color-white;

        &:active {
            opacity: .5;
        }
    }
    
    .menu-item:first-child {
        border: 0;
    }
}

.container-footer {

    .calling-card {
        margin: 1em 0;
    }

    .calling-card-portrait {
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
        width: 9em;
        border-radius: 99em;
        overflow: hidden;
        height: 9em;
    }

    .calling-card-content-title {
        font-size: 1.3em;
    }

    .calling-card-content-button.button.primary {
        float: left;
    }

    .calling-card-content-description {
        margin-bottom: 1em;
    }
}

.footer-social {
    width: 3em;
    height: 3em;
    float: left;
    fill: $color-secondary;
    margin-right: 1em;
}

.footer-socials {
    @include clearfix;
    @extend .block-margins;
    margin-top: 0;
}

.container-footer-inner {
    padding: 5%;
}

.container-footer {
    border-top: 1px solid $color-senary;
}

@include breakpoint(900) {

    .container-footer {
        border-top: 1px dotted $color-tertiary;
        margin-top: 1.5em;
        padding-top: 1.5em;
        padding-bottom: 6em;
    }

    .container-footer-inner {
        width: 800px;
        margin: 0px auto;
    }

    .container-footer .menu-item {
        margin-right: 1em;
        font-weight: 600;
        border-bottom: 1px solid;
    }
}
