html {
    // background: image-url("xv.png") repeat; 
}

.button {
    @include button($color-primary);
}

.button-primary,
.button.primary {
    @include button($color-primary);
}

.button-secondary,
.button.secondary {
    @include button($color-secondary);
}

.button-tertiary,
.button.tertiary {
    @include button($color-tertiary);
}

.to-top {
    @include transition(all 200ms ease);
    position: fixed;
    bottom: 1em;
    z-index: 1;
    fill: $color-white;
    right: -4em;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    background-color: $color-tertiary;
    border-radius: 99em;

    &:active {
        bottom: .5em;
        opacity: .8;
    }

    &.is-active {
        display: block;
        right: 1em;
    }
}

.core-h1 {
    text-shadow: 1px 1px $color-text;
    text-align: center;
    padding: 0.3em;
    background-color: $color-primary;
    color: $color-white;
    border-bottom: 1px solid $color-secondary;
    font-size: 1.4em;
    margin-bottom: 1em;
}

.search-result-description {
    @extend .h4;
    margin-bottom: 1em;
}

.page {
    padding: 5%;
    padding-top: 6em;
}

.container-footer-inner,
.container-header-inner,
.page {
    max-width: 50em;
    margin: 0 auto;
}


@include breakpoint(600) {
    
    .page {
        padding-top: 6em;
    }
}
