.button,
a.button {
    @include gradient($color-secondary, darken($color-secondary, 7%));
    @extend .rounded-corners;
    text-shadow: 0 1px 0 $color-secondary;
    color: $color-white;
    border: 1px solid $color-secondary;
    font-weight: 600;
    cursor: pointer; 
    padding: 0.2em 0.5em 0.3em;
    line-height: 1.2;

    &:hover {
        // background: $color-white;
        text-decoration: none;
        // @include gradient(lighten(#889388, 3%), lighten($color-secondary, 3%));
    }

    &:active {
        background: darken($color-secondary, 10%);
        border-color: darken($color-secondary, 10%);
        text-shadow: none;
    }

    &.primary.disabled:hover,
    &.primary.disabled:active,
    &.primary.disabled {
        background: $color-gray-10;
        border-color: $color-gray-20;
        color: $color-gray-50;
        text-shadow: none;
        cursor: default;
    }

    &.primary {
        @include gradient(lighten($color-primary, 5%), $color-primary);
        text-shadow: 0 -1px 0 darken($color-primary, 5%);
        color: $color-white;
        border-color: darken($color-primary, 5%);

        &:hover {
            @include gradient(lighten($color-primary, 8%), lighten($color-primary, 3%));
            text-shadow: 0 -1px 0 darken($color-primary, 5%);
        }

        &:active {
            text-shadow: none;
            background: darken($color-primary, 10%);
        }
    }

    &.quaternary {
        @include gradient(lighten($color-quaternary, 5%), $color-quaternary);
        text-shadow: 0 -1px 0 darken($color-quaternary, 5%);
        border-color: darken($color-quaternary, 10%);
  
        &:hover {
            @include gradient(lighten($color-quaternary, 10%), lighten($color-quaternary, 5%));
            text-shadow: 0 -1px 0 darken($color-quaternary, 0%);
        }

        &:active {
            text-shadow: none;
            background: darken($color-quaternary, 15%);
        }
    }

    &.secondary {
        text-shadow: none;
        background: darken($color-white, 15%);
        border-color: darken($color-white, 25%);
        color: darken($color-white, 50%);

        &:hover {
            background-color: darken($color-white, 10%);
            color: darken($color-white, 40%);
        }

        &:active {
            background-color: darken($color-white, 20%);
            color: darken($color-white, 70%);
        }
    }

    &.bundle,
    &.tertiary,
    &.special {
        @include gradient(lighten($color-tertiary, 5%), $color-tertiary);
        text-shadow: 0 -1px 0 darken($color-tertiary, 10%);
        border-color: darken($color-tertiary, 20%);
        color: $color-white;

        &:hover {
            @include gradient(lighten($color-tertiary, 5%), $color-tertiary);
        }

        &:active {
            background: darken($color-tertiary, 10%);
        }
    }
}

.content.product-single .col-right a.button.instore-exclusive,
a.button.instore-exclusive {
    border: 1px solid darken($color-secondary, 10%);
    // position: absolute;

    .instore-exclusive-icon {
        background-image: image-url('sprite/instore-exclusive-white-16x14.png');
        width: 16px;
        height: 14px;
        display: block;
        // @include block-width-height('sprite/instore-exclusive-white-16x14.png');
        position: absolute;
        top: 0.3em;
        left: 0.4em;
        float: left;
        display: none;
    }
}

.content.product-single .col-right a.button.instore-exclusive .instore-exclusive-icon {
    top: 0.5em;
    left: 0.4em;
}

.lt-ie9 .content.product-single .col-right .action .button.submit.primary a.button,
.lt-ie9 .content.product-single .col-right .action .button.submit.primary .button {
    display: block;
    width: 4.5em;
    text-align: center;
}

.no-js .submit {
    display: none;
}
