input[type="submit"] {
    position: absolute;
    left: -999em;
    width: 1px;
    height: 1px;
}

textarea {
    height: 20em;
}

input[type="text"],
input[type="password"],
textarea {
    box-sizing: border-box;
    // @include border-radius(3px);
    border: 1px solid darken(#fff, 15%);
    padding: 0.6em 0.8em;
    margin: 0;
    font-weight: 600;
    color: darken(#fff, 60%);

    &:focus {
        box-shadow: 0 2px 1px darken(#fff, 5%);
        border-color: darken(#fff, 25%);
        color: darken(#fff, 70%);
    }
}

input.error {
    border-color: red;
}

input[placeholder] { 
    // color: darken(#fff, 20%);
}

label {
    color: darken(#fff, 40%);
}
